
.serarc-fluid {
    background-color: white;
}

.navbar-nav li.active a.dropdown-toggle {
    color: #FFFFFF;
}
.fa-angle-double-up:before {
    content: "";
}

.w3l-footer-22 .below-section {
    align-items: center;
    margin-top: 60px;
    border-top: 1px solid #565252;
    padding-top: 36px;
}

.w3l-footer-22 #movetop {
    position: fixed;
    bottom: 12px;
    right: 15px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 38px;
    height: 38px;
    background: #3a3535;
    padding: 0;
    line-height: 38px;
    transition: 0.5s ease-out;
    border-radius: 50%;
}

.w3l-footer-22 #movetop:hover {
    background: #2c4ea3;
}

@media (max-width: 768px) {
    .w3l-footer-22 .sub-columns {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin-top: 40px;
    }

    .w3l-footer-22 .columns p a,
    .w3l-footer-22 .columns ul li a {
        font-size: 15px;
    }

    .w3l-footer-22 .below-section {
        align-items: center;
        margin-top: 40px;
        padding-top: 20px;
        text-align: center;
    }

    .w3l-footer-22 ul.jst-link {
        margin-bottom: 10px;
    }
}

.w3l-footer-22 .columns p a,
.w3l-footer-22 .columns ul li a {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

.w3l-footer-22 .footer-hny-ul li a:hover,
.w3l-footer-22 .columns p a:hover,
.w3l-footer-22 .columns ul li a:hover {
    color: #2c4ea3;
}
