
.w3l-banner-slider-main .top-header-content {
    position: relative;
}

.w3l-banner-slider-main header.tophny-header {
    position: relative;
    z-index: 9;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    background: #2c4ea3;
}

.w3l-banner-slider-main .navbar-expand-lg .navbar-nav .dropdown-menu {
    /*transform: translateX(-50px);*/
}

.w3l-banner-slider-main .navbar-expand-lg .navbar-nav .dropdown-menu:before {
    content: '';
    width: 10px;
    height: 10px;
    background: #fff;
    border: 1px #d5d5d5ee solid;
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -5px;
    left: 49%;
    z-index: 1001;
}

.w3l-banner-slider-main .dropdown-toggle::after {
    margin-left: 0.1em;
    border-top: 0.3em solid;
    border-right: 0.2em solid transparent;
    border-left: 0.2em solid transparent;
    vertical-align: middle;
}

.w3l-banner-slider-main .dropdown-item:hover,
.w3l-banner-slider-main .dropdown-item:focus {
    color: #2c4ea3;
    text-decoration: none;
    background-color: transparent;
}

.w3l-banner-slider-main nav.navbar {
    background-color: #2c4ea3;
    padding: 10px 0;
    width: 100%;
}

.w3l-banner-slider-main a.navbar-brand {
    color: #fff;
    font-size: 30px;
    padding: 0;
    font-weight: 900;
    text-transform: uppercase;
}

.w3l-banner-slider-main a.navbar-brand:hover {
    color: #fff;
}

.w3l-banner-slider-main span.lohny {
    margin-bottom: 0;
    color: #2c4ea3;
}

.w3l-banner-slider-main .navbar-light .navbar-brand:hover,
.w3l-banner-slider-main .navbar-light .navbar-brand:focus {
    opacity: 0.9;
}

.w3l-banner-slider-main .navbar-light .navbar-nav .show>.nav-link,
.w3l-banner-slider-main .navbar-light .navbar-nav .active>.nav-link,
.w3l-banner-slider-main .navbar-light .navbar-nav .nav-link.show,
.w3l-banner-slider-main .navbar-light .navbar-nav .nav-link.active {
    color: #2c4ea3;
}

.w3l-banner-slider-main .navbar-light .navbar-nav .nav-link:hover,
.w3l-banner-slider-main .navbar-light .navbar-nav .nav-link:focus {
    color: #2c4ea3;
}

.w3l-banner-slider-main .navbar-light .navbar-nav .nav-link {
    color: #2c4ea3;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.w3l-banner-slider-main li.nav-item {
    margin: 0px 10px;
}

.w3l-banner-slider-main li.nav-item:nth-child(6) {
    margin-right: 0px;
}

.w3l-banner-slider-main .navbar-toggler {
    padding: 0.45rem 0.6rem;
    font-size: 1rem;
    background-color: #cfdce8;
    border: none;
}

@media (max-width: 1280px) {
    .w3l-banner-slider-main li.nav-item {
        margin: 0px 10px;
    }
}

@media (max-width: 992px) {
    .w3l-banner-slider-main .navbar-expand-lg .navbar-nav .dropdown-menu {
        transform: translateX(0px);
    }

    .w3l-banner-slider-main .navbar-expand-lg .navbar-nav .dropdown-menu:before {
        top: -5px;
        left: 4%;
    }

    .w3l-banner-slider-main div#navbarSupportedContent {
        background: #232020f2;
        padding: 10px;
        border-radius: 6px;
        position: relative;
        border: 1px #232020 solid;
        max-height: calc(100vh - 120px);
        overflow: auto;
        margin-top: 6px;
    }

    .w3l-banner-slider-main div#navbarSupportedContent:before {
        content: '';
        width: 10px;
        height: 10px;
        background: var(--theme-color);
        border-left: 1px rgba(0, 0, 0, 0.09) solid;
        border-top: 1px rgba(0, 0, 0, 0.09) solid;
        display: block;
        transform: translateX(-50%) rotateZ(45deg);
        position: absolute;
        top: -5px;
        right: 12px;
        opacity: 0;
    }

    .w3l-banner-slider-main div#navbarSupportedContent {
        overflow: auto;
    }

    .w3l-banner-slider-main .dropdown-item {
        display: block;
        width: 100%;
        padding: 0.25rem 1rem;
    }

    .w3l-banner-slider-main .search-right .close {
        right: 20px;
    }
}

@media (max-width: 991px) {
    .w3l-banner-slider-main nav.navbar.navbar-expand-lg.navbar-light {
        padding: 10px 15px;
    }

    .w3l-banner-slider-main a.navbar-brand {
        font-size: 28px;
    }

    .w3l-banner-slider-main .navbar-light .navbar-toggler-icon {
        background-image: none;
    }

    .w3l-banner-slider-main .navbar-toggler {
        padding: 0.4rem 0.5rem;
        font-size: 1rem;
        background-color: transparent;
        border: none;
    }

    .w3l-banner-slider-main .navbar-light .navbar-toggler {
        color: #2c4ea3;
        border-color: #fff;
        background: #fff;
        cursor: pointer;
    }

    .w3l-banner-slider-main .navbar-toggler-icon {
        display: inline-block;
        width: 1.2em;
        height: 1.2em;
        vertical-align: middle;
    }

    .w3l-banner-slider-main span.navbar-toggler-icon.fa.fa-bars {
        font-size: 20px;
        line-height: 1.2em;
    }

    .w3l-banner-slider-main button.navbar-toggler {
        outline: none;
    }
}

@media (max-width: 769px) {
    .w3l-banner-slider-main .top-hny-left-content {
        display: none;
    }

    .w3l-banner-slider-main a.navbar-brand {
        font-size: 24px;
    }

    .w3l-banner-slider-main .top-hnt-right-content {
        display: flex;
        align-items: center;
        padding: 0;
    }

    .w3l-banner-slider-main .search-right a {
        font-size: 16px;
    }

    .w3l-banner-slider-main .search-right {
        margin-right: 16px;
        margin-left: auto;
    }

    .w3l-banner-slider-main ul.top-hnt-right-content {
        display: grid;
        align-items: center;
        grid-template-columns: 2fr 1fr;
    }

    .w3l-banner-slider-main ul.top-hnt-right-content li {
        margin-left: 0;
    }

    .w3l-banner-slider-main li.transmitvcart.galssescart2.cart.cart.box_1 {
        text-align: end;
    }

    .w3l-banner-slider-main span.search-text {
        display: none;
    }

    .w3l-banner-slider-main .container-fluid.serarc-fluid,
    .w3l-banner-slider-main .serarc-fluid.container-sm,
    .w3l-banner-slider-main .serarc-fluid.container-md,
    .w3l-banner-slider-main .serarc-fluid.container-lg,
    .w3l-banner-slider-main .serarc-fluid.container-xl {
        justify-content: inherit;
        background: transparent;
    }
}
