
.w3l-ecommerce-main-inn {
    /********************* Shopping Demo-2 **********************/
    /*--/pagination--*/
    /*--//pagination--*/
    /*--/badge--*/
    /*--//badge--*/
    /*--/product-color--*/
    /*--//product-color--*/
    /* The containerhny */
    /* Hide the browser's default checkbox */
    /* Create a custom checkbox */
    /* On mouse-over, add a grey background color */
    /* When the checkbox is checked, add a blue background */
    /* Create the checkmark/indicator (hidden when not checked) */
    /* Show the checkmark when checked */
    /* Style the checkmark/indicator */
    /*--//checkbox--*/
    /*--/ecommerce-banv-slider--*/
    /*--//ecommerce-banv-slider--*/
    /*--/ecom-single--*/
    /*--/single-grids-2--*/
    /*--//single-grids-2--*/
    /*--//ecom-single--*/
}
.w3l-ecommerce-main-inn .container {
    max-width: 100%;
}
.w3l-ecommerce-main-inn .sp-store-single-page.row {
    align-items: center;
}

.w3l-ecommerce-main-inn .ecom-pro-grids {
    background: #232020;
}

.w3l-ecommerce-main-inn .ecom-pro-grids-2 {
    background: #232020;
}

.w3l-ecommerce-main-inn .sports-grid img {
    display: block;
}

.w3l-ecommerce-main-inn .sports-grid-info {
    position: relative;
}

.w3l-ecommerce-main-inn .spt-text-info {
    position: absolute;
    display: block;
    top: 0;
    padding: 20px;
}

.w3l-ecommerce-main-inn .multi-gd-text a {
    display: block;
    position: relative;
}

.w3l-ecommerce-main-inn .multi-gd-img.multi-gd-text h4 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 30px;
    bottom: 0;
    width: 100%;
}

.w3l-ecommerce-main-inn .multi-gd-img.multi-gd-text h4 span {
    font-weight: 700;
    color: #3a3535;
}

.w3l-ecommerce-main-inn .multi-gd-text a:hover::before {
    width: 100%;
    height: 100%;
}

.w3l-ecommerce-main-inn .multi-gd-text a::before {
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    transition: all 0.5s ease-out 0s;
    z-index: 99;
    content: "";
}

.w3l-ecommerce-main-inn .multi-gd-text img {
    height: auto;
    width: 100%;
}

.w3l-ecommerce-main-inn .multi-gd-text a:hover::after {
    width: 100%;
    height: 100%;
}

.w3l-ecommerce-main-inn .multi-gd-text a::after {
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    transition: all 0.5s ease-out 0s;
    z-index: 99;
    content: "";
}

.w3l-ecommerce-main-inn .image-box {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.w3l-ecommerce-main-inn .image-box img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.w3l-ecommerce-main-inn .image-box:hover img {
    transform: scale(1.1);
}

.w3l-ecommerce-main-inn .products-left-img {
    position: relative;
}

.w3l-ecommerce-main-inn .hover-product-inf {
    position: absolute;
    padding: 20px;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    bottom: 20px;
}

.w3l-ecommerce-main-inn .hover-product-inf h4 {
    font-size: 18px;
    color: #232020;
    font-weight: 600;
    margin-bottom: 20px;
}

.w3l-ecommerce-main-inn .ecom-button.btn {
    border: 2px solid #3a3535;
    color: #fff;
    background: #3a3535;
    font-size: 16px;
    padding: 8px 35px;
    letter-spacing: 1px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-weight: bold;
}

.w3l-ecommerce-main-inn .ecom-button.btn:hover {
    opacity: 0.8;
}

.w3l-ecommerce-main-inn .product-grid2 {
    position: relative;
}

.w3l-ecommerce-main-inn .product-grid2 .product-image2 {
    overflow: hidden;
    position: relative;
}

.w3l-ecommerce-main-inn .product-grid2 .product-image2 a {
    display: block;
}

.w3l-ecommerce-main-inn .product-grid2 .product-image2 img {
    width: 100%;
    height: auto;
}

.w3l-ecommerce-main-inn .product-image2 .pic-1 {
    opacity: 1;
    transition: all .5s;
}

.w3l-ecommerce-main-inn .product-grid2:hover .product-image2 .pic-1 {
    opacity: 0;
}

.w3l-ecommerce-main-inn .product-image2 .pic-2 {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s;
    background: #00000057;
}

.w3l-ecommerce-main-inn .product-grid2:hover .product-image2 .pic-2 {
    opacity: 1;
}

.w3l-ecommerce-main-inn .product-grid2 .social {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 50px;
    right: 25px;
    z-index: 1;
}

.w3l-ecommerce-main-inn .product-grid2 .social li {
    margin: 0 0 10px;
    display: block;
    transform: translateX(100px);
    transition: all .5s;
}

.w3l-ecommerce-main-inn .product-grid2:hover .social li {
    transform: translateX(0);
}

.w3l-ecommerce-main-inn .product-grid2:hover .social li:nth-child(2) {
    transition-delay: .15s;
}

.w3l-ecommerce-main-inn .product-grid2:hover .social li:nth-child(3) {
    transition-delay: .25s;
}

.w3l-ecommerce-main-inn .product-grid2 .social li a {
    color: #232020;
    background-color: #fff;
    font-size: 17px;
    line-height: 45px;
    text-align: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: block;
    transition: all .3s ease 0s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.w3l-ecommerce-main-inn .product-grid2 .social li a:hover {
    color: #fff;
    background-color: #2c4ea3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.w3l-ecommerce-main-inn .product-grid2 .social li a:after,
.w3l-ecommerce-main-inn .product-grid2 .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #232020;
    font-size: 12px;
    line-height: 22px;
    border-radius: 3px;
    padding: 0 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px;
}

.w3l-ecommerce-main-inn .product-grid2 .social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -22px;
    z-index: -1;
}

.w3l-ecommerce-main-inn .product-grid2 .social li a:hover:after,
.w3l-ecommerce-main-inn .product-grid2 .social li a:hover:before {
    background-color: #2c4ea3;
}

.w3l-ecommerce-main-inn .product-grid2 .add-to-cart {
    color: #fff;
    background-color: #232020;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    padding: 10px 10px;
    display: block;
    position: absolute;
    left: 0;
    bottom: -100%;
    transition: all .3s;
}

.w3l-ecommerce-main-inn .product-grid2 .add-to-cart:hover {
    background-color: #2c4ea3;
    text-decoration: none;
}

.w3l-ecommerce-main-inn .product-grid2:hover .add-to-cart {
    bottom: 0;
}

.w3l-ecommerce-main-inn .product-grid2 .product-new-label {
    background-color: #232020;
    color: #fff;
    font-size: 17px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s;
}

.w3l-ecommerce-main-inn .product-grid2:hover .product-new-label {
    opacity: 0;
}

.w3l-ecommerce-main-inn .product-grid2 .product-content {
    padding: 20px 10px;
    text-align: center;
}

.w3l-ecommerce-main-inn .product-grid2 .title {
    font-size: 16px;
    margin: 0 0 6px 0;
    color: #2c4ea3;
}

.w3l-ecommerce-main-inn .product-grid2 .title a {
    color: #232020;
    font-weight: 600;
}

.w3l-ecommerce-main-inn .product-grid2 .title a:hover {
    color: #2c4ea3;
}

.w3l-ecommerce-main-inn .product-grid2 .price {
    color: #3a3535;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.w3l-ecommerce-main-inn span.price del {
    color: #6b778d;
    font-weight: 400;
    margin-right: 6px;
}

.w3l-ecommerce-main-inn .pagination {
    margin-top: 60px;
    justify-content: flex-end;
}

.w3l-ecommerce-main-inn .pagination ul li {
    display: inline-block;
    margin-right: 3px;
}

.w3l-ecommerce-main-inn .pagination a {
    width: 40px;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    color: #2c4ea3;
    background: #f7f1ec;
    transition: 0.3s ease-in;
}

.w3l-ecommerce-main-inn .pagination a:hover,
.w3l-ecommerce-main-inn .pagination a.active {
    background: #2c4ea3;
    color: #fff;
    transition: 0.3s ease-in;
}

.w3l-ecommerce-main-inn .pagination li.prev a,
.w3l-ecommerce-main-inn .pagination li.next a {
    color: #2c4ea3;
    background: #fff;
}

.w3l-ecommerce-main-inn .pagination li.prev a:hover,
.w3l-ecommerce-main-inn .pagination li.next a:hover {
    color: #333;
}

.w3l-ecommerce-main-inn aside {
    padding-right: 20px;
}

.w3l-ecommerce-main-inn .sider-bar {
    background: #f4f4f4;
    padding: 30px;
    border-radius: 6px;
}

.w3l-ecommerce-main-inn .single-gd h4 {
    color: #232020;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.w3l-ecommerce-main-inn ul.ratingshyny li {
    list-style: none;
}

.w3l-ecommerce-main-inn ul.ratingshyny li a {
    font-size: 12px;
    color: #adaaa8;
}

.w3l-ecommerce-main-inn ul.ratingshyny li a span {
    margin-right: 6px;
}

.w3l-ecommerce-main-inn .single-gd h4 span,
.w3l-ecommerce-main-inn ul.ratingshyny li a:hover {
    color: #2c4ea3;
}

.w3l-ecommerce-main-inn .post-title {
    font-size: 17px;
    margin: 0;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: capitalize;
    line-height: 22px;
    color: #232020;
}

.w3l-ecommerce-main-inn .price-right {
    font-size: 14px;
    color: #3a3535;
}

.w3l-ecommerce-main-inn .special-sec1 {
    align-items: center;
}

.w3l-ecommerce-main-inn .ecomhny-topbar {
    align-items: center;
    margin-bottom: 36px;
}

.w3l-ecommerce-main-inn .ecomhny-topbar-ordering {
    text-align: end;
}

.w3l-ecommerce-main-inn .ecomhny-result-count {
    font-size: 18px;
    text-transform: capitalize;
    color: #6b778d;
    margin-bottom: 0;
}

.w3l-ecommerce-main-inn .ecom-ordering-select {
    position: relative;
    border-radius: 6px;
    border: 1px solid #c6c6c7;
}

.w3l-ecommerce-main-inn .ecom-ordering-select select {
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    position: relative;
    background: #fff;
    outline: none;
    width: 100%;
    font-size: 16px;
    color: #3a3535;
    height: 45px;
    text-align: left;
    -webkit-appearance: none;
    cursor: pointer;
    display: grid;
    grid-template-columns: .1fr 1fr;
    align-items: center;
    padding-left: 15px;
    padding-right: 35px;
    border: none;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.w3l-ecommerce-main-inn .ecom-ordering-select span.fa {
    position: absolute;
    color: #2c4ea3;
    font-size: 16px;
    z-index: 9;
    right: 15px;
    top: 13px;
}

.w3l-ecommerce-main-inn .ecom-ordering-select select:focus {
    outline: none;
}

.w3l-ecommerce-main-inn .ecom-ordering-select {
    position: relative;
}

.w3l-ecommerce-main-inn .badge-primary {
    color: #fff;
    background-color: #3a3535;
}

.w3l-ecommerce-main-inn .list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 0rem;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    background-color: transparent;
    color: #6b778d;
}

.w3l-ecommerce-main-inn .product-color {
    display: grid;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

.w3l-ecommerce-main-inn .product-color li {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.w3l-ecommerce-main-inn .product-color li input {
    position: absolute;
    left: 0;
    top: -300%;
    opacity: 0;
    visibility: hidden;
}

.w3l-ecommerce-main-inn .product-color li input:checked + label {
    border-color: #6CA1AD;
    opacity: 1;
}

.w3l-ecommerce-main-inn .product-color li input:checked + label:after {
    content: "ï€Œ";
    opacity: 1;
}

.w3l-ecommerce-main-inn .product-color li label {
    width: 26px;
    color: #fff;
    height: 26px;
    line-height: 26px;
    border-radius: 26px;
    display: inline-block;
    position: relative;
    border: 0px solid #535151;
    cursor: pointer;
    text-align: center;
    opacity: 0.5;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.w3l-ecommerce-main-inn .product-color li label:after {
    content: "ï€";
    position: absolute;
    left: 50%;
    margin-left: -7px;
    top: 50%;
    margin-top: -7px;
    font: normal normal normal 14px FontAwesome;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    moz-transition: opacity 0.3s ease-in-out;
    o-transition: opacity 0.3s ease-in-out;
}

.w3l-ecommerce-main-inn ul.product-color li {
    list-style: none;
    display: inline-block;
}

.w3l-ecommerce-main-inn .containerhny-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 16px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Lato', sans-serif;
    line-height: 18px;
    color: #6b778d;
}

.w3l-ecommerce-main-inn .containerhny-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.w3l-ecommerce-main-inn .containerhny-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #f4f4f4;
    border: 2px solid #c5c1bf;
}

.w3l-ecommerce-main-inn .containerhny-checkbox:hover input ~ .checkmark {
    background-color: #c5c1bf;
}

.w3l-ecommerce-main-inn .containerhny-checkbox input:checked ~ .checkmark {
    background-color: #2c4ea3;
}

.w3l-ecommerce-main-inn .containerhny-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.w3l-ecommerce-main-inn .containerhny-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.w3l-ecommerce-main-inn .containerhny-checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.w3l-ecommerce-main-inn .ecommerce-banv .align-center {
    text-align: center;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider > ul > li:first-child {
    background: url(../images/bg4.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    border-radius: 6px;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider > ul > li:nth-child(2) {
    background: url(../images/bg2.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    border-radius: 6px;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider > ul > li:nth-child(3) {
    background: url(../images/bg3.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    border-radius: 6px;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider > ul > li:before {
    content: "";
    background: rgba(12, 12, 12, 0.25);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    border-radius: 6px;
}

.w3l-ecommerce-main-inn .ecommerce-banv .cover-top-center-9 {
    min-height: 348px;
    display: grid;
    align-items: center;
    position: relative;
}

.w3l-ecommerce-main-inn .ecommerce-banv .w3ls_cover_txt-9 {
    max-width: 560px;
    margin: 0 auto;
    text-align: center;
}

.w3l-ecommerce-main-inn .ecommerce-banv h6.tag-cover-9 {
    line-height: 15px;
    text-transform: uppercase;
    color: #e6e6e6;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: #2c4ea3;
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
}

.w3l-ecommerce-main-inn .ecommerce-banv h3.title-cover-9 {
    margin: 0;
    display: inline-block;
    font-size: 44px;
    line-height: 54px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.w3l-ecommerce-main-inn .ecommerce-banv .button-cover-9 {
    margin-top: 40px;
    display: inline-block;
}

.w3l-ecommerce-main-inn a.read-btn.btn {
    display: inline-block;
    outline: none;
    border: none;
    font-weight: 600;
    padding: 10px 26px;
    font-size: 16px;
    background-color: #fff;
    margin-top: 26px;
    color: #232020;
    border-radius: 25px;
}

.w3l-ecommerce-main-inn a.read-btn.btn:hover {
    background: #2c4ea3;
    color: #fff;
}

@media (max-width: 800px) {
    .w3l-ecommerce-main-inn .ecommerce-banv h3.title-cover-9 {
        font-size: 40px;
        margin: 20px 0;
    }
}

@media (max-width: 667px) {
    .w3l-ecommerce-main-inn .ecommerce-banv h3.title-cover-9 {
        font-size: 40px;
        line-height: 46px;
    }
}

@media (max-width: 600px) {
    .w3l-ecommerce-main-inn .ecommerce-banv h3.title-cover-9 {
        font-size: 34px;
        line-height: 44px;
    }
}

@media (max-width: 640px) {
    .w3l-ecommerce-main-inn .ecommerce-banv .w3ls_cover_txt-9 {
        margin: 0 2em;
    }

    .w3l-ecommerce-main-inn .ecommerce-banv .cover-top-center-9 {
        min-height: 300px;
    }
}

@media (max-width: 480px) {
    .w3l-ecommerce-main-inn .ecommerce-banv h3.title-cover-9 {
        font-size: 32px;
        line-height: 35px;
        margin: 15px 0;
    }

    .w3l-ecommerce-main-inn .ecommerce-banv .w3ls_cover_txt-9 {
        margin: 0 1em;
    }
}

@media (max-width: 384px) {
    .w3l-ecommerce-main-inn .ecommerce-banv h6.tag-cover-9 {
        font-size: 12px;
    }

    .w3l-ecommerce-main-inn .ecommerce-banv h3.title-cover-9 {
        font-size: 32px;
        line-height: 38px;
        margin: 18px 0;
    }

    .w3l-ecommerce-main-inn .ecommerce-banv p.para-cover-9 {
        font-size: 16px;
    }

    .w3l-ecommerce-main-inn .ecommerce-banv .cover-top-center-9 {
        margin: 0 .5em;
    }

    .w3l-ecommerce-main-inn .ecommerce-banv .cover-top-center-9 {
        min-height: 300px;
    }
}

@media (max-width: 440px) {
    .w3l-ecommerce-main-inn .ecommerce-banv h3.title-cover-9 {
        font-size: 30px;
        margin: 16px 0 0 0;
    }

    .w3l-ecommerce-main-inn .ecommerce-banv h3.title-cover-9 {
        font-size: 28px;
    }
}

@media (max-width: 414px) {
    .w3l-ecommerce-main-inn .ecommerce-banv p.para-cover-9 {
        font-size: 15px;
        line-height: 22px;
    }

    .w3l-ecommerce-main-inn .ecommerce-banv h3.title-cover-9 {
        font-size: 26px;
        line-height: 36px;
    }
}

@media (max-width: 320px) {
    .w3l-ecommerce-main-inn .ecommerce-banv h3.title-cover-9 {
        font-size: 30px;
        line-height: 34px;
    }
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider {
    position: relative;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input {
    display: none;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(4):checked ~ ul li:first-of-type {
    margin-left: -300%;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(3):checked ~ ul li:first-of-type {
    margin-left: -200%;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(2):checked ~ ul li:first-of-type {
    margin-left: -100%;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(1):checked ~ ul li:first-of-type {
    margin-left: 0%;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider > ul {
    position: relative;
    font-size: 0;
    line-height: 0;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider > ul > li {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: visible;
    font-size: 15px;
    font-size: initial;
    line-height: normal;
    transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
    vertical-align: top;
    box-sizing: border-box;
    white-space: normal;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider > .navigation {
    position: absolute;
    bottom: 12%;
    left: 50%;
    z-index: 9;
    margin-bottom: -10px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider > .navigation > div {
    margin-left: -100%;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider > .navigation label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 4px;
    padding: 4px;
    border: 2px solid #fff;
    background: transparent;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider > .navigation label:hover:after {
    opacity: 1;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider > .navigation label:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -6px;
    margin-top: -6px;
    background: #fff;
    border-radius: 50%;
    padding: 6px;
    opacity: 0;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider.inside .navigation {
    bottom: 10px;
    margin-bottom: 10px;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider.inside .navigation label {
    border: 1px solid #7e7e7e;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1):after,
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2):after,
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3):after {
    opacity: 1;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider.infinity > input:first-of-type:checked ~ .arrows label.goto-last,
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(0),
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(1),
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(2) {
    display: block;
    left: 0;
    right: auto;
    transform: rotate(45deg);
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider.infinity > input:last-of-type:checked ~ .arrows label.goto-first,
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(2),
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(3) {
    display: block;
    right: 0;
    left: auto;
    transform: rotate(225deg);
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider > .arrows {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider.inside .navigation {
    bottom: 10px;
    margin-bottom: 10px;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider.inside .navigation label {
    border: 1px solid #7e7e7e;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1):after,
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2):after,
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3):after,
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(4):after,
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(5):checked ~ .navigation label:nth-of-type(5):after,
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(6):checked ~ .navigation label:nth-of-type(6):after,
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(7):checked ~ .navigation label:nth-of-type(7):after,
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(8):checked ~ .navigation label:nth-of-type(8):after,
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(9):checked ~ .navigation label:nth-of-type(9):after,
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(10):checked ~ .navigation label:nth-of-type(10):after,
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(11):checked ~ .navigation label:nth-of-type(11):after {
    opacity: 1;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider > .arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 26px;
    z-index: 99;
    box-sizing: content-box;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider > .arrows label {
    display: none;
    position: absolute;
    top: -50%;
    padding: 6px;
    box-shadow: inset 2px -2px 0 1px #fff;
    cursor: pointer;
    transition: box-shadow 0.15s, margin 0.15s;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider > .arrows label:hover {
    margin: 0;
    opacity: .8;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider > .arrows label:before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    height: 300%;
    width: 300%;
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider.infinity > input:first-of-type:checked ~ .arrows label.goto-last,
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(0),
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(1),
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(2),
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(3),
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(4),
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(5),
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(6),
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(7),
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(8),
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(9),
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(10) {
    display: block;
    left: 5%;
    right: auto;
    transform: rotate(45deg);
}

.w3l-ecommerce-main-inn .ecommerce-banv .csslider.infinity > input:last-of-type:checked ~ .arrows label.goto-first,
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(2),
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(3),
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(4),
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(5),
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(6),
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(7),
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(8),
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(9),
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(10),
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(11),
.w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(12) {
    display: block;
    right: 5%;
    left: auto;
    transform: rotate(225deg);
}

.w3l-ecommerce-main-inn .ecommerce-banv #slider1 {
    width: 100%;
}

@media screen and (max-width: 1080px) {

    .w3l-ecommerce-main-inn .ecommerce-banv .csslider.infinity > input:first-of-type:checked ~ .arrows label.goto-last,
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(0),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(1),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(2),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(3),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(4),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(5),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(6),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(7),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(8),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(9),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(10) {
        left: 4%;
    }

    .w3l-ecommerce-main-inn .ecommerce-banv .csslider.infinity > input:last-of-type:checked ~ .arrows label.goto-first,
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(2),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(3),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(4),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(5),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(6),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(7),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(8),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(9),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(10),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(11),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(12) {
        right: 4%;
    }
}

@media screen and (max-width: 768px) {

    .w3l-ecommerce-main-inn .ecommerce-banv .csslider.infinity > input:last-of-type:checked ~ .arrows label.goto-first,
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(2),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(3),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(4),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(5),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(6),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(7),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(8),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(9),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(10),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(11),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(12) {
        right: 5%;
    }

    .w3l-ecommerce-main-inn .main-slider .csslider > .arrows {
        width: 97%;
    }
}

@media screen and (max-width: 667px) {
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > .arrows label {
        padding: 7px;
    }
}

@media screen and (max-width: 480px) {
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > .arrows label {
        padding: 6px;
    }

    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > .navigation {
        bottom: 12%;
    }
}

@media screen and (max-width: 384px) {
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > .arrows label {
        padding: 5px;
    }
}

@media screen and (max-width: 375px) {

    .w3l-ecommerce-main-inn .ecommerce-banv .csslider.infinity > input:last-of-type:checked ~ .arrows label.goto-first,
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(2),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(3),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(4),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(5),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(6),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(7),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(8),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(9),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(10),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(11),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(12) {
        right: 6%;
    }
}

@media screen and (max-width: 320px) {

    .w3l-ecommerce-main-inn .ecommerce-banv .csslider.infinity > input:last-of-type:checked ~ .arrows label.goto-first,
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(2),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(3),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(4),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(5),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(6),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(7),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(8),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(9),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(10),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(11),
    .w3l-ecommerce-main-inn .ecommerce-banv .csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(12) {
        right: 7%;
    }
}

.w3l-ecommerce-main-inn .sp-store-single-page .single-right-left h3 {
    text-transform: capitalize;
    font-size: 30px;
    color: #232020;
    margin: 0 0 20px 0;
    font-weight: 600;
    line-height: 40px;
}

.w3l-ecommerce-main-inn .single-right-left del {
    color: #6b778d;
    font-weight: 400;
    margin-left: 6px;
}

.w3l-ecommerce-main-inn .single-right-left h6 {
    font-size: 22px;
    color: #232020;
    font-weight: 100;
    margin: 0;
}

.w3l-ecommerce-main-inn span.item_price {
    color: #2c4ea3;
    font-weight: 600;
}

.w3l-ecommerce-main-inn .caption {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 6fr;
    grid-gap: 4px;
}

.w3l-ecommerce-main-inn .sp-store-single-page ul.rating-single li {
    display: inline-block;
    color: #3a3535;
}

.w3l-ecommerce-main-inn .sp-store-single-page ul.rating-single li a:hover {
    color: #2c4ea3;
}

.w3l-ecommerce-main-inn .sp-store-single-page span.yellow-star {
    font-size: 13px;
    opacity: 0.9;
    margin-right: 2px;
}

.w3l-ecommerce-main-inn .sp-store-single-page .simpleCart_shelfItem .caption h6 {
    color: #fff;
    font-size: 26px;
}

.w3l-ecommerce-main-inn .sp-store-single-page .desc_single h5 {
    color: #232020;
    font-size: 22px;
}

.w3l-ecommerce-main-inn .sp-store-single-page .single-right-left p {
    text-transform: capitalize;
    margin: .5em 0 0;
    color: #6b778d;
    font-size: 16px;
    line-height: 28px;
}

.w3l-ecommerce-main-inn .sp-store-single-page .justify-content-between {
    justify-content: space-between !important;
}

.w3l-ecommerce-main-inn .sp-store-single-page .sp_title {
    color: #232020;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.w3l-ecommerce-main-inn ul.single_specific,
.w3l-ecommerce-main-inn .color-quality {
    list-style: inside;
}

.w3l-ecommerce-main-inn .sp-store-single-page ul.single_specific li,
.w3l-ecommerce-main-inn .color-quality li {
    color: #6b778d;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 28px;
}

.w3l-ecommerce-main-inn .sp-store-single-page ul.single_specific li span {
    color: #6b778d;
    padding-left: 2px;
}

.w3l-ecommerce-main-inn .sp-store-single-page ul.single_serv a {
    color: #6b778d;
    font-size: 15px;
}

.w3l-ecommerce-main-inn .sp-store-single-page li.gap {
    margin-top: 1em;
}

.w3l-ecommerce-main-inn .sp-store-single-page .description h5 {
    color: #232020;
    font-size: 16px;
    margin-bottom: 16px;
}

.w3l-ecommerce-main-inn .sp-store-single-page .description input {
    background: #f4f4f4;
    outline: none;
    width: 70%;
    font-size: 16px;
    padding: 0px 15px;
    color: #3a3535;
    height: 53px;
    text-align: left;
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
    -webkit-border-top-left-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.w3l-ecommerce-main-inn .sp-store-single-page .description .submit {
    cursor: pointer;
    line-height: 30px;
    text-decoration: none;
    -webkit-appearance: none;
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #2c4ea3;
    background: #232020;
    height: 53px;
    transition: 0.3s ease;
    border: none;
    border-radius: 0;
    -webkit-border-top-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-radius-topright: 25px;
    -moz-border-radius-bottomright: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 30%;
}

.w3l-ecommerce-main-inn .sp-store-single-page .description .submit:hover {
    background: #2c4ea3;
    border: transparent;
    color: #fff;
}

.w3l-ecommerce-main-inn .eco-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.w3l-ecommerce-main-inn button.transmitv-cart.ptransmitv-cart.add-to-cart.read-2 {
    display: block;
    width: 100%;
    border: 2px solid #232020;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 30px;
    background: #232020;
    padding: 10px 30px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.w3l-ecommerce-main-inn button.transmitv-cart.ptransmitv-cart.add-to-cart.read-2:hover {
    background: #2c4ea3;
    border: 2px solid #2c4ea3;
    color: #fff;
}

.w3l-ecommerce-main-inn .sp-store-single-page a.action {
    border: 2px solid #2c4ea3;
    color: #fff;
    background: #2c4ea3;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-weight: bold;
    display: block;
}

.w3l-ecommerce-main-inn .sp-store-single-page a.action:hover {
    border: 2px solid #232020;
    background: #232020;
}

.w3l-ecommerce-main-inn .sp-store-single-page .featured-products {
    margin-top: 80px;
}

.w3l-ecommerce-main-inn .description-apt.d-grid {
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-gap: 20px;
    align-items: center;
}

.w3l-ecommerce-main-inn ul.emi-views li {
    display: block;
    line-height: 30px;
    font-size: 16px;
    color: #6b778d;
}

.w3l-ecommerce-main-inn ul.emi-views li span {
    font-weight: bold;
}

.w3l-ecommerce-main-inn .content-singlev-ecomm {
    background: #f4f4f4;
}

.w3l-ecommerce-main-inn .pro-grid-one,
.w3l-ecommerce-main-inn .pro-grid-two {
    background: url(../images/bg3.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    padding: 40px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
}

.w3l-ecommerce-main-inn .pro-grid-two {
    background: url(../images/bg4.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    padding: 40px;
}

.w3l-ecommerce-main-inn .product-des-hny {
    background: rgba(0, 0, 0, 0.588);
    padding: 50px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
}

.w3l-ecommerce-main-inn .product-des-hny h4.text-wthree {
    color: #fff;
    font-size: 32px;
    margin-bottom: 16px;
    line-height: 38px;
}

@media (max-width: 1080px) {
    .w3l-ecommerce-main-inn .caption {
        grid-template-columns: 1fr 4fr;
        grid-gap: 4px;
    }
}

@media (max-width: 992px) {
    .w3l-ecommerce-main-inn .sp-store-single-page .justify-content-between {
        justify-content: space-between !important;
        display: block;
    }

    .w3l-ecommerce-main-inn .sp-store-single-page .color-quality {
        margin-top: 20px;
    }

    .w3l-ecommerce-main-inn .sp-store-single-page .single-right-left h3 {
        font-size: 22px;
        line-height: 32px;
    }
}

@media (max-width: 800px) {
    .w3l-ecommerce-main-inn .sp-store-single-page .align-items {
        grid-template-columns: 1fr;
        grid-gap: 35px;
    }

    .w3l-ecommerce-main-inn .sp-store-single-page .single-right-left h3 {
        font-size: 18px;
        line-height: 28px;
    }

    .w3l-ecommerce-main-inn .product-des-hny {
        padding: 20px;
    }

    .w3l-ecommerce-main-inn .product-des-hny h4.text-wthree {
        font-size: 22px;
        margin-bottom: 22px;
        line-height: 26px;
    }
}

@media (max-width: 992px) {
    .w3l-ecommerce-main-inn .ecommerce-left-hny {
        order: 2;
        margin-top: 3em;
    }

    .w3l-ecommerce-main-inn .single-right-left {
        margin-bottom: 3em;
    }

    .w3l-ecommerce-main-inn .product-des-hny {
        padding: 30px;
    }

    .w3l-ecommerce-main-inn .pro-grid-one,
    .w3l-ecommerce-main-inn .pro-grid-two {
        padding: 30px;
    }

    .w3l-ecommerce-main-inn .product-des-hny h4.text-wthree {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 6px;
    }

    .w3l-ecommerce-main-inn aside {
        padding-right: 0;
    }
}

@media (max-width: 737px) {
    .w3l-ecommerce-main-inn .pro-grid-left {
        margin-bottom: 2em;
    }
}

@media (max-width: 667px) {
    .w3l-ecommerce-main-inn .caption {
        grid-template-columns: 1fr 3fr;
        grid-gap: 4px;
    }

    .w3l-ecommerce-main-inn .product-grid2 .title {
        font-size: 14px;
    }

    .w3l-ecommerce-main-inn .product-grid2 .social li a {
        font-size: 14px;
        line-height: 32px;
        height: 32px;
        width: 32px;
    }

    .w3l-ecommerce-main-inn .product-grid2 .social {
        padding: 0;
        margin: 0;
        position: absolute;
        bottom: 50px;
        right: 15px;
        z-index: 1;
    }
}

@media (max-width: 482px) {
    .w3l-ecommerce-main-inn .product-grid2 .title {
        font-size: 14px;
    }
}
