<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-us">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/x-icon" th:href="@{/gameo.ico}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/signin.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body class="app">
<div id='loader'>
    <div class="spinner"></div>
</div>

<script>
    window.addEventListener('load', function load() {
        const loader = document.getElementById('loader');
        setTimeout(function () {
            loader.classList.add('fadeOut');
        }, 300);
    });
</script>
<form class="form-signin" name='f' th:action="@{/j_spring_security_check}" method='POST'>
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">
        <div class="peer form-group" th:if="${#request.getParameter('error') == 'true'}"
             style="color:red;margin:10px 0px;">
            <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
                  th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
            </span>
        </div>
    </h1>
    <label for="username" class="sr-only">Tên Đăng Nhập</label>
    <input type="text" id="username" class="form-control" name="username" required autofocus>
    <label for="password" class="sr-only">Mật Khẩu</label>
    <input type="password" id="password" class="form-control" name="password" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" name="submit" type="submit" value="submit">Đăng Nhập</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2021 GAMEO COMESTIC</p>
</form>

</body>
</html>
