<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/gameo-layout :: gameo-fragment(
                                                ~{:: title},
                                                ~{:: #home-resources-css},
                                                ~{:: .main-content},
                                                ~{:: #home-resources-js},
                                                ~{:: #modalCreate},
                                                ~{:: #modalUpdate},
                                                ~{:: #modalDelete},
                                                ~{:: #modalImport}
                                               )}">
<head>
    <title>GaMeo Comestics | Nhãn Hàng</title>

    <th:block id="home-resources-css" th:replace="~{fragments/gameo-fragments :: link}">
        insert css
    </th:block>
</head>
<body>

<main class="main-content bgc-grey-100">
    <div id="mainContent">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="bgc-white bd bdrs-3 p-20 mB-20">
                        <!-- header -->
                        <div class="alert alert-light" role="alert">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h2>Quản Lý <b>Nhãn Hàng</b></h2>
                                    </div>
                                    <div class="col-sm-6">
                                        <button class="btn btn btn-outline-dark btn-action "
                                                data-toggle="modal" data-target="#brandCreate">
                                            <i class="fa fa-plus-circle"></i> <span> Thêm Mới</span>
                                        </button>
                                        <button class="btn btn btn-outline-dark btn-action "
                                                data-toggle="modal" data-target="#brandImport">
                                            <i class="fa fa-upload "></i> <span> Nhập File Excel</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- header -->
                        <!-- notification -->
                        <div class="alert alert-success" role="alert" th:each="file : ${transactions}"
                             th:if="${file != null}" th:utext="${file}">
                        </div>

                        <div class="alert alert-danger" role="alert" th:each="file : ${errors}"
                             th:if="${file != null}" th:utext="${file}">
                        </div>
                        <!-- notification -->
                        <div class="mT-30">
                            <table id="dataTables"
                                   class="display table table-striped table-bordered"
                                   cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th th:align="center">STT</th>
                                    <th th:align="center">Tên Nhãn Hàng</th>
                                    <th th:align="center">Ngày Tạo</th>
                                    <th th:align="center">Ngày Sửa</th>
                                    <th th:align="center"></th>
                                    <th th:align="center"></th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th th:align="center">STT</th>
                                    <th th:align="center">Tên Nhãn Hàng</th>
                                    <th th:align="center">Ngày Tạo</th>
                                    <th th:align="center">Ngày Sửa</th>
                                    <th th:align="center"></th>
                                    <th th:align="center"></th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="brd : ${brands}">
                                    <td style="text-align: center" class="rowid" th:utext="${brd.brandId}"></td>
                                    <td  th:utext="${brd.brandName}"></td>

                                    <td style="text-align: center" th:utext="${#temporals.format(brd.insertDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
                                    <td style="text-align: center" th:utext="${#temporals.format(brd.modifiedDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
                                    <td style="text-align: center">
                                        <a th:data-id="${brd.brandId}" role="button" class="btn btn-primary" data-toggle="modal" data-target="#brandUpdate" >
                                            Sửa
                                        </a>
                                    </td>
                                    <td style="text-align: center">
                                        <a th:data-id="${brd.brandId}" role="button" class="btn btn-danger" data-toggle="modal" data-target="#brandDelete" >
                                            Xóa
                                        </a>
                                    </td>

                                </tr>
                            </table>
                        </div>
                        <!-- div.mt-30 -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block id="home-resources-js" th:replace="~{fragments/gameo-fragments :: script}">
    insert css
</th:block>

<th:block id="modalCreate" th:replace="fragments/gameo-fragments :: modal('brandCreate')">
    modalCreate
</th:block>
<th:block id="modalUpdate" th:replace="fragments/gameo-fragments :: modal('brandUpdate')">
    modalUpdate
</th:block>
<th:block id="modalDelete" th:replace="fragments/gameo-fragments :: modal('brandDelete')">
    modalDelete
</th:block>
<th:block id="modalImport" th:replace="fragments/gameo-fragments :: modal('brandImport')">
    brandImport
</th:block>
</body>

</html>
