<div class="container-fluid" xmlns:th="http://www.thymeleaf.org">
    <form th:object="${brand}" th:action="@{/savebrand}" method="post">

        <input type="hidden" th:field="*{brandId}" class="form-control" placeholder="Input modifiedDate"/>
        <input type="hidden" th:field="*{insertDate}" class="form-control" placeholder="Input modifiedDate"/>
        <input type="hidden" th:field="*{modifiedDate}" class="form-control" placeholder="Input modifiedDate"/>

        <div class="form-group">
            <label th:for="brandname">Tên Nhãn Hàng</label>
            <input type="text" th:field="*{brandName}" class="form-control" placeholder="Input Brand Name"/>

        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-3 .ml-auto centered">
                </div>
                <div class="col-md-6 .ml-auto centered">
                    <button type="submit" class="btn btn-primary btn-block">Cập Nhật</button>
                </div>
                <div class="col-md-3 .ml-auto centered">
                </div>
            </div>
        </div>

    </form>
</div>