<div class="container-fluid" xmlns:th="http://www.thymeleaf.org">
    <form th:action="@{/deletebrand}"  method="post" >

        <input type="hidden" name="deleteId" class="form-control" th:value="${deleteId}"/>

        <div class="form-group">
            <div class="alert alert-danger" role="alert" th:utext="${ 'Bạn có muốn xóa bản ghi ' + deleteId  + ' ? '}">
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-3 .ml-auto centered">
                </div>
                <div class="col-md-6 .ml-auto centered">
                    <button type="submit" class="btn btn-primary btn-block">Confirm Delete</button>
                </div>
                <div class="col-md-3 .ml-auto centered">
                </div>
            </div>
        </div>

    </form>
</div>