<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/select2.min.css}"/>
</head>
<body>

<div class="container-fluid" xmlns:th="http://www.thymeleaf.org">
    <form th:object="${category}" th:action="@{/savecategory}"
          enctype="multipart/form-data" method="post">

        <input type="hidden" th:field="*{insertDate}" class="form-control"/>
        <input type="hidden" th:field="*{categoryId}" class="form-control"/>
        <input type="hidden" th:field="*{modifiedDate}" class="form-control"/>

        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label th:for="brandName">Nhãn Hàng</label>
                    <select style="width:100%" name="selectedbrand" class="form-control custom-select selectProduct">
                        <th:block th:each="brd : ${brands}" >
                            <option th:if="${brd.brandId == category.brand.getBrandId()}" selected="selected" th:text="${brd.brandName}" th:value="${brd.brandId}">
                            </option>
                            <option th:if="${brd.brandId != category.brand.getBrandId()}" th:text="${brd.brandName}" th:value="${brd.brandId}">
                            </option>
                        </th:block>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label th:for="categoryName">Tên Nhóm Hàng</label>
                    <input type="text" class="form-control" th:field="*{categoryName}"
                           id="inputCategoryName">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label th:for="categoryPrice">Giá Nhóm Hàng</label>
                    <input type="number" th:field="*{categoryPrice}" class="form-control"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-3 .ml-auto centered">
                </div>
                <div class="col-md-6 .ml-auto centered">
                    <button type="submit" class="btn btn-primary btn-block">Cập Nhật</button>
                </div>
                <div class="col-md-3 .ml-auto centered">
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" th:src="@{/js/select2.min.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.selectProduct').select2({
            dropdownParent: $('#categoryUpdate')
        });

    });
</script>
</body>
</html>
