<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/gameo-layout :: gameo-fragment(
                                                ~{:: title},
                                                ~{:: #home-resources-css},
                                                ~{:: .main-content},
                                                ~{:: #home-resources-js},
                                                ~{:: #modalCreate},
                                                ~{:: #modalUpdate},
                                                ~{:: #modalDelete},
                                                ~{:: #modalImport}
                                               )}">
<head>
    <title>GaMeo Comestics | Sản Phẩm</title>

    <th:block id="home-resources-css" th:replace="~{fragments/gameo-fragments :: link}">
        insert css
    </th:block>
</head>
<body>


<main class="main-content bgc-grey-100">
    <div id="mainContent">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="bgc-white bd bdrs-3 p-20 mB-20">
                        <!-- header -->
                        <div class="alert alert-light" role="alert">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <h2>Quản Lý <b>Sản Phẩm</b></h2>
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="submit" class="btn btn-primary btn-action "
                                                data-toggle="modal" data-target="#productCreate">
                                            <i class="fa fa-plus-circle"></i> <span> Thêm Mới</span>
                                        </button>
                                        <button type="submit" class="btn btn-primary btn-action "
                                                data-toggle="modal" data-target="#productImport">
                                            <i class="fa fa-plus-circle"></i> <span> Nhập Excel</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- header -->

                        <!-- notification -->
                        <div class="alert alert-success" role="alert" th:each="file : ${transactions}"
                             th:if="${file != null}" th:utext="${file}">
                        </div>

                        <div class="alert alert-danger" role="alert" th:each="file : ${errors}"
                             th:if="${file != null}" th:utext="${file}">
                        </div>
                        <!-- notification -->
                        <div class="mT-30">
                            <table id="dataTables"
                                   class="display table table-striped table-bordered"
                                   cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th th:align="center">STT</th>
                                    <th th:align="center">Nhãn Hàng</th>
                                    <th th:align="center">Mặt Hàng</th>
                                    <th th:align="center">Sản Phẩm</th>
                                    <th th:align="center">Gía Niêm Yết</th>
                                    <th th:align="center">Ngày Tạo</th>
                                    <th th:align="center">Ngày Sửa</th>
                                    <th th:align="center"></th>
                                    <th th:align="center"></th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th th:align="center">STT</th>
                                    <th th:align="center">Nhãn Hàng</th>
                                    <th th:align="center">Mặt Hàng</th>
                                    <th th:align="center">Sản Phẩm</th>
                                    <th th:align="center">Gía Niêm Yết</th>
                                    <th th:align="center">Ngày Tạo</th>
                                    <th th:align="center">Ngày Sửa</th>
                                    <th th:align="center"></th>
                                    <th th:align="center"></th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="prd : ${products}">
                                    <td style="text-align: center" class="rowid" th:utext="${prd.productId}"></td>
                                    <td  th:utext="${prd.brand.brandName}"></td>
                                    <td  th:utext="${prd.category.categoryName}"></td>
                                    <td  th:utext="${prd.productName}"></td>
                                    <td  th:utext="${#numbers.formatCurrency(prd.productPrice)}"></td>
                                    <td style="text-align: center" th:utext="${#temporals.format(prd.insertDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
                                    <td style="text-align: center" th:utext="${#temporals.format(prd.modifiedDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
                                    <td style="text-align: center">
                                        <a th:data-id="${prd.productId}" class="btn btn-primary"
                                           role="button"
                                           data-toggle="modal" data-target="#productUpdate">
                                            Sửa
                                        </a>
                                    </td>
                                    <td style="text-align: center">
                                        <a th:data-id="${prd.productId}" class="btn btn-danger"
                                           role="button"
                                           data-toggle="modal" data-target="#productDelete">
                                            Xóa
                                        </a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- div.mt-30 -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block id="home-resources-js" th:replace="~{fragments/gameo-fragments :: script}">
    insert css
</th:block>


<th:block id="modalCreate" th:replace="fragments/gameo-fragments :: modal('productCreate')">
    modalCreate
</th:block>
<th:block id="modalUpdate" th:replace="fragments/gameo-fragments :: modal('productUpdate')">
    modalUpdate
</th:block>
<th:block id="modalDelete" th:replace="fragments/gameo-fragments :: modal('productDelete')">
    modalDelete
</th:block>
<th:block id="modalImport" th:replace="fragments/gameo-fragments :: modal('productImport')">
    modalDelete
</th:block>


</body>
</html>
