<div class="container-fluid" xmlns:th="http://www.thymeleaf.org">
    <form th:action="@{/importproduct}"
          enctype="multipart/form-data" method="post">

        <div class="form-group">
            <button type="button" class="btn cur-p btn-outline-primary">
                    <input name="MultipartFile" type="file"/>
            </button>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-3 .ml-auto centered">
                </div>
                <div class="col-md-6 .ml-auto centered">
                    <button type="submit" class="btn btn-primary btn-block">Import</button>
                </div>
                <div class="col-md-3 .ml-auto centered">
                </div>
            </div>
        </div>

    </form>
</div>
