<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/select2.min.css}"/>
</head>
<body>

<div class="container-fluid" xmlns:th="http://www.thymeleaf.org">
    <form th:object="${product}" th:action="@{/saveproduct}"
          enctype="multipart/form-data" method="post">

        <input type="hidden" th:field="*{insertDate}" class="form-control"/>
        <input type="hidden" th:field="*{productId}" class="form-control"/>
        <input type="hidden" th:field="*{modifiedDate}" class="form-control"/>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label th:for="brandName">Nhãn Hàng</label>
                    <select style="width:100%" name="selectedbrand" class="form-control custom-select selectProduct">
                        <option th:each="brd : ${brands}" th:text="${brd.brandName}" th:value="${brd.brandId}">
                        </option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label th:for="categoryName">Tên Nhóm Hàng</label>
                    <select style="width:100%" name="selectedcategory" class="form-control custom-select selectProduct">
                        <option th:each="ctg : ${categorys}" th:text="${ctg.categoryName}" th:value="${ctg.categoryId}">
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="inputProductName">Tên Sản Phẩm</label>
                    <input type="text" class="form-control" th:field="*{productName}"
                           id="inputProductName">
                </div>
                <div class="col-md-6">
                    <label for="inputProductPrice">Giá Niêm Yết</label>
                    <input type="number" class="form-control" th:field="*{productPrice}"
                           id="inputProductPrice">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-3 .ml-auto centered">
                </div>
                <div class="col-md-6 .ml-auto centered">
                    <button type="submit" class="btn btn-primary btn-block">Tạo Mới</button>
                </div>
                <div class="col-md-3 .ml-auto centered">
                </div>
            </div>
        </div>

    </form>
</div>
<script type="text/javascript" th:src="@{/js/select2.min.js}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.selectProduct').select2({
            dropdownParent: $('#productCreate')
        });

    });
</script>

</body>
</html>