<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>App Fragments</title>
    <link rel="icon" type="image/x-icon" th:href="@{/gameo.ico}">
<!--    <link rel="stylesheet" type="text/css" th:href="@{/main.css}" />-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/signin.css}" />-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/signin.css}" />-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/jQuerryDataTable.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/btn.dataTables.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/select.dataTables.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/bst-datepicker.min.css}"/>


    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/bootstrap-4.min.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/custom.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/style.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/toastr.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/index.css}"/>
</head>
<body>

<!-- Custom header -->

<div class="header navbar" th:fragment="home-head">
    <div class="header-container">
        <ul class="nav-left">
            <li>
                <a id="sidebar-toggle" class="sidebar-toggle"
                   href="javascript:void(0);">
                    <i class="ti-menu"></i>
                </a>
            </li>
            <li class="search-box">
                <a class="search-toggle no-pdd-right" href="javascript:void(0);">
                    <i class="search-icon ti-search pdd-right-10"></i>
                    <i class="search-icon-close ti-close pdd-right-10"></i>
                </a>
            </li>
            <li class="search-input">
                <input class="form-control" type="text" placeholder="Search...">
            </li>
        </ul>
    </div>
</div>

<footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600" th:fragment="copyright">
    <span> Copyright © 2020 Designed by 1905 . All rights reserved. </span>
</footer>


<script type="text/javascript" th:src="@{/js/admin/jquery-3.5.1.js}"></script>
<script type="text/javascript" th:src="@{/js/admin/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/admin/dataTables.buttons.min.js}"></script>
<script type="text/javascript" th:src="@{/js/admin/vfs_fonts.js}"></script>
<script type="text/javascript" th:src="@{/js/admin/jszip.min.js}"></script>
<script type="text/javascript" th:src="@{/js/admin/buttons.html5.min.js}"></script>
<script type="text/javascript" th:src="@{/js/admin/bootstrap-datepicker.min.js}"></script>

<script type="text/javascript" th:src="@{/js/admin/sweetalert2.min.js}"></script>
<script type="text/javascript" th:src="@{/js/admin/toastr.min.js}"></script>
<script type="text/javascript" th:src="@{/js/admin/custom.js}"></script>
<script type="text/javascript" th:src="@{/js/admin/seperate-import.js}"></script>
<script type="text/javascript" th:src="@{/js/admin/dataTables.select.min.js}"></script>

</body>
</html>