<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="sidebar" th:fragment="side-nav">
    <div class="sidebar-inner">
        <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
                <div class="peer peer-greed">
                    <a class="sidebar-link td-n" th:href="@{/dashboard}">
                        <div class="peers ai-c fxw-nw">
                            <div class="peer">
                                <div class="logo">
                                    <img th:src="@{/images/logo-02.png}" alt="">
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="peer">
                    <div class="mobile-toggle sidebar-toggle">
                        <a href="" class="td-n">
                            <i class="ti-arrow-circle-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <ul class="sidebar-menu scrollable pos-r" th:if="${#request.userPrincipal.name != null}" >
            <!-- USER INFO GROUP -->
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
					<span class="icon-holder">
						<i class="c-orange-500 ti-user"></i>
					</span>
                    <span class="title" th:utext="${#request.userPrincipal.name}"></span>
                    <span class="arrow">
						<i class="ti-angle-right"></i>
					</span>
                </a>
                <ul class="dropdown-menu">
                    <li >
                        <a class="sidebar-link"
                           th:href="@{/userlist}">
							<span class="icon-holder">
								<i class="c-orange-500 ti-control-record"></i>
							</span>

                            <span class="title">User List</span>
                        </a>
                    </li>
                    <li >
                        <a class="sidebar-link"
                           th:href="@{/changepassword}">
							<span class="icon-holder">
								<i class="c-orange-500 ti-control-record"></i>
							</span>

                            <span class="title">Đổi Mật Khẩu </span>
                        </a>
                    </li>
                    <li>
                        <a class="sidebar-link" th:href="@{/logout}">
							<span class="icon-holder">
								<i class="c-orange-500 ti-control-record"></i>
							</span>
                            <span class="title">Đăng Xuất </span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- END USER INFO GROUP -->

            <!-- brand GROUP -->
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
					<span class="icon-holder">
						<i class="c-orange-500 ti-credit-card"></i>
					</span>
                    <span class="title">Nhãn Hàng</span>
                    <span class="arrow">
						<i class="ti-angle-right"></i>
					</span>
                </a>
                <ul class="dropdown-menu">
                    <li >
                        <a class="sidebar-link"
                           th:href="@{/brandlist}">
							<span class="icon-holder">
								<i class="c-orange-500 ti-control-record"></i>
							</span>

                            <span class="title">Quản lý </span>
                        </a>
                    </li>
                    <li>
                        <a class="sidebar-link" th:href="@{/addbrand}">
							<span class="icon-holder">
								<i class="c-orange-500 ti-control-record"></i>
							</span>
                            <span class="title">Nhập Mới </span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End brand GROUP -->
            <!-- category GROUP -->
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
					<span class="icon-holder">
						<i class="c-orange-500 ti-credit-card"></i>
					</span>
                    <span class="title">Mặt Hàng</span>
                    <span class="arrow">
						<i class="ti-angle-right"></i>
					</span>
                </a>
                <ul class="dropdown-menu">
                    <li >
                        <a class="sidebar-link"
                           th:href="@{/categorylist}">
							<span class="icon-holder">
								<i class="c-orange-500 ti-control-record"></i>
							</span>

                            <span class="title">Quản lý </span>
                        </a>
                    </li>
                    <li>
                        <a class="sidebar-link" th:href="@{/addcategory}">
							<span class="icon-holder">
								<i class="c-orange-500 ti-control-record"></i>
							</span>
                            <span class="title">Nhập Mới </span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End category GROUP -->
            <!-- product GROUP -->
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
					<span class="icon-holder">
						<i class="c-orange-500 ti-credit-card"></i>
					</span>
                    <span class="title">Sản Phẩm</span>
                    <span class="arrow">
						<i class="ti-angle-right"></i>
					</span>
                </a>
                <ul class="dropdown-menu">
                    <li >
                        <a class="sidebar-link"
                           th:href="@{/productlist}">
							<span class="icon-holder">
								<i class="c-orange-500 ti-control-record"></i>
							</span>

                            <span class="title">Quản lý </span>
                        </a>
                    </li>
                    <li>
                        <a class="sidebar-link" th:href="@{/addproduct}">
							<span class="icon-holder">
								<i class="c-orange-500 ti-control-record"></i>
							</span>
                            <span class="title">Nhập Mới </span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End product GROUP -->

            <!-- inventory GROUP -->
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
					<span class="icon-holder">
						<i class="c-orange-500 ti-credit-card"></i>
					</span>
                    <span class="title">Kho Hàng</span>
                    <span class="arrow">
						<i class="ti-angle-right"></i>
					</span>
                </a>
                <ul class="dropdown-menu">
                    <li >
                        <a class="sidebar-link"
                           th:href="@{/inventorylist}">
							<span class="icon-holder">
								<i class="c-orange-500 ti-control-record"></i>
							</span>

                            <span class="title">Quản lý </span>
                        </a>
                    </li>
                    <li>
                        <a class="sidebar-link" th:href="@{/addinventory}">
							<span class="icon-holder">
								<i class="c-orange-500 ti-control-record"></i>
							</span>
                            <span class="title">Nhập Mới </span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End inventory GROUP -->
        </ul>
    </div>
</div>
</body>
</html>