.logo, .logo img {
	width: 100%;
}

.loginbg {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	color:white;
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
	position: relative;
	background-image: url('../../photos/1905-bg.png');
}
