/*!
 * Datepicker for Bootstrap v1.9.0 (https://github.com/uxsolutions/bootstrap-datepicker)
 *
 * Licensed under the Apache License v2.0 (http://www.apache.org/licenses/LICENSE-2.0)
 */
.datepicker {
	padding: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	direction: ltr
}

.datepicker-inline {
	width: 220px
}

.datepicker-rtl {
	direction: rtl
}

.datepicker-rtl.dropdown-menu {
	left: auto
}

.datepicker-rtl table tr td span {
	float: right
}

.datepicker-dropdown {
	top: 0;
	left: 0
}

.datepicker-dropdown:before {
	content: "";
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #999;
	border-top: 0;
	border-bottom-color: rgba(0, 0, 0, .2);
	position: absolute
}

.datepicker-dropdown:after {
	content: "";
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	border-top: 0;
	position: absolute
}

.datepicker-dropdown.datepicker-orient-left:before {
	left: 6px
}

.datepicker-dropdown.datepicker-orient-left:after {
	left: 7px
}

.datepicker-dropdown.datepicker-orient-right:before {
	right: 6px
}

.datepicker-dropdown.datepicker-orient-right:after {
	right: 7px
}

.datepicker-dropdown.datepicker-orient-bottom:before {
	top: -7px
}

.datepicker-dropdown.datepicker-orient-bottom:after {
	top: -6px
}

.datepicker-dropdown.datepicker-orient-top:before {
	bottom: -7px;
	border-bottom: 0;
	border-top: 7px solid #999
}

.datepicker-dropdown.datepicker-orient-top:after {
	bottom: -6px;
	border-bottom: 0;
	border-top: 6px solid #fff
}

.datepicker table {
	margin: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.datepicker td, .datepicker th {
	text-align: center;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: none
}

.table-striped .datepicker table tr td, .table-striped .datepicker table tr th
	{
	background-color: transparent
}

.datepicker table tr td.day.focused, .datepicker table tr td.day:hover {
	background: #eee;
	cursor: pointer
}

.datepicker table tr td.new, .datepicker table tr td.old {
	color: #999
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover
	{
	background: 0 0;
	color: #999;
	cursor: default
}

.datepicker table tr td.highlighted {
	background: #d9edf7;
	border-radius: 0
}

.datepicker table tr td.today, .datepicker table tr td.today.disabled,
	.datepicker table tr td.today.disabled:hover, .datepicker table tr td.today:hover
	{
	background-color: #fde19a;
	background-image: -moz-linear-gradient(to bottom, #fdd49a, #fdf59a);
	background-image: -ms-linear-gradient(to bottom, #fdd49a, #fdf59a);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a),
		to(#fdf59a));
	background-image: -webkit-linear-gradient(180deg, #fdd49a, #fdf59a);
	background-image: -o-linear-gradient(to bottom, #fdd49a, #fdf59a);
	background-image: linear-gradient(180deg, #fdd49a, #fdf59a);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdd49a",
		endColorstr="#fdf59a", GradientType=0);
	border-color: #fdf59a #fdf59a #fbed50;
	border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	color: #000
}

.datepicker table tr td.today.active, .datepicker table tr td.today.disabled,
	.datepicker table tr td.today.disabled.active, .datepicker table tr td.today.disabled.disabled,
	.datepicker table tr td.today.disabled:active, .datepicker table tr td.today.disabled:hover,
	.datepicker table tr td.today.disabled:hover.active, .datepicker table tr td.today.disabled:hover.disabled,
	.datepicker table tr td.today.disabled:hover:active, .datepicker table tr td.today.disabled:hover:hover,
	.datepicker table tr td.today.disabled:hover[disabled], .datepicker table tr td.today.disabled[disabled],
	.datepicker table tr td.today:active, .datepicker table tr td.today:hover,
	.datepicker table tr td.today:hover.active, .datepicker table tr td.today:hover.disabled,
	.datepicker table tr td.today:hover:active, .datepicker table tr td.today:hover:hover,
	.datepicker table tr td.today:hover[disabled], .datepicker table tr td.today[disabled]
	{
	background-color: #fdf59a
}

.datepicker table tr td.today.active, .datepicker table tr td.today.disabled.active,
	.datepicker table tr td.today.disabled:active, .datepicker table tr td.today.disabled:hover.active,
	.datepicker table tr td.today.disabled:hover:active, .datepicker table tr td.today:active,
	.datepicker table tr td.today:hover.active, .datepicker table tr td.today:hover:active
	{
	background-color: #fbf069\9
}

.datepicker table tr td.today:hover:hover {
	color: #000
}

.datepicker table tr td.today.active:hover {
	color: #fff
}

.datepicker table tr td.range, .datepicker table tr td.range.disabled,
	.datepicker table tr td.range.disabled:hover, .datepicker table tr td.range:hover
	{
	background: #eee;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0
}

.datepicker table tr td.range.today, .datepicker table tr td.range.today.disabled,
	.datepicker table tr td.range.today.disabled:hover, .datepicker table tr td.range.today:hover
	{
	background-color: #f3d17a;
	background-image: -moz-linear-gradient(to bottom, #f3c17a, #f3e97a);
	background-image: -ms-linear-gradient(to bottom, #f3c17a, #f3e97a);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3c17a),
		to(#f3e97a));
	background-image: -webkit-linear-gradient(180deg, #f3c17a, #f3e97a);
	background-image: -o-linear-gradient(to bottom, #f3c17a, #f3e97a);
	background-image: linear-gradient(180deg, #f3c17a, #f3e97a);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3c17a",
		endColorstr="#f3e97a", GradientType=0);
	border-color: #f3e97a #f3e97a #edde34;
	border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0
}

.datepicker table tr td.range.today.active, .datepicker table tr td.range.today.disabled,
	.datepicker table tr td.range.today.disabled.active, .datepicker table tr td.range.today.disabled.disabled,
	.datepicker table tr td.range.today.disabled:active, .datepicker table tr td.range.today.disabled:hover,
	.datepicker table tr td.range.today.disabled:hover.active, .datepicker table tr td.range.today.disabled:hover.disabled,
	.datepicker table tr td.range.today.disabled:hover:active, .datepicker table tr td.range.today.disabled:hover:hover,
	.datepicker table tr td.range.today.disabled:hover[disabled],
	.datepicker table tr td.range.today.disabled[disabled], .datepicker table tr td.range.today:active,
	.datepicker table tr td.range.today:hover, .datepicker table tr td.range.today:hover.active,
	.datepicker table tr td.range.today:hover.disabled, .datepicker table tr td.range.today:hover:active,
	.datepicker table tr td.range.today:hover:hover, .datepicker table tr td.range.today:hover[disabled],
	.datepicker table tr td.range.today[disabled] {
	background-color: #f3e97a
}

.datepicker table tr td.range.today.active, .datepicker table tr td.range.today.disabled.active,
	.datepicker table tr td.range.today.disabled:active, .datepicker table tr td.range.today.disabled:hover.active,
	.datepicker table tr td.range.today.disabled:hover:active, .datepicker table tr td.range.today:active,
	.datepicker table tr td.range.today:hover.active, .datepicker table tr td.range.today:hover:active
	{
	background-color: #efe24b\9
}

.datepicker table tr td.selected, .datepicker table tr td.selected.disabled,
	.datepicker table tr td.selected.disabled:hover, .datepicker table tr td.selected:hover
	{
	background-color: #9e9e9e;
	background-image: -moz-linear-gradient(to bottom, #b3b3b3, grey);
	background-image: -ms-linear-gradient(to bottom, #b3b3b3, grey);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b3b3b3),
		to(grey));
	background-image: -webkit-linear-gradient(180deg, #b3b3b3, grey);
	background-image: -o-linear-gradient(to bottom, #b3b3b3, grey);
	background-image: linear-gradient(180deg, #b3b3b3, grey);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b3b3b3",
		endColorstr="#808080", GradientType=0);
	border-color: grey grey #595959;
	border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .25)
}

.datepicker table tr td.selected.active, .datepicker table tr td.selected.disabled,
	.datepicker table tr td.selected.disabled.active, .datepicker table tr td.selected.disabled.disabled,
	.datepicker table tr td.selected.disabled:active, .datepicker table tr td.selected.disabled:hover,
	.datepicker table tr td.selected.disabled:hover.active, .datepicker table tr td.selected.disabled:hover.disabled,
	.datepicker table tr td.selected.disabled:hover:active, .datepicker table tr td.selected.disabled:hover:hover,
	.datepicker table tr td.selected.disabled:hover[disabled], .datepicker table tr td.selected.disabled[disabled],
	.datepicker table tr td.selected:active, .datepicker table tr td.selected:hover,
	.datepicker table tr td.selected:hover.active, .datepicker table tr td.selected:hover.disabled,
	.datepicker table tr td.selected:hover:active, .datepicker table tr td.selected:hover:hover,
	.datepicker table tr td.selected:hover[disabled], .datepicker table tr td.selected[disabled]
	{
	background-color: grey
}

.datepicker table tr td.selected.active, .datepicker table tr td.selected.disabled.active,
	.datepicker table tr td.selected.disabled:active, .datepicker table tr td.selected.disabled:hover.active,
	.datepicker table tr td.selected.disabled:hover:active, .datepicker table tr td.selected:active,
	.datepicker table tr td.selected:hover.active, .datepicker table tr td.selected:hover:active
	{
	background-color: #666\9
}

.datepicker table tr td.active, .datepicker table tr td.active.disabled,
	.datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover
	{
	background-color: #006dcc;
	background-image: -moz-linear-gradient(to bottom, #08c, #04c);
	background-image: -ms-linear-gradient(to bottom, #08c, #04c);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c),
		to(#04c));
	background-image: -webkit-linear-gradient(180deg, #08c, #04c);
	background-image: -o-linear-gradient(to bottom, #08c, #04c);
	background-image: linear-gradient(180deg, #08c, #04c);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#08c",
		endColorstr="#0044cc", GradientType=0);
	border-color: #04c #04c #002a80;
	border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .25)
}

.datepicker table tr td.active.active, .datepicker table tr td.active.disabled,
	.datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.disabled,
	.datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover,
	.datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled:hover.disabled,
	.datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.disabled:hover:hover,
	.datepicker table tr td.active.disabled:hover[disabled], .datepicker table tr td.active.disabled[disabled],
	.datepicker table tr td.active:active, .datepicker table tr td.active:hover,
	.datepicker table tr td.active:hover.active, .datepicker table tr td.active:hover.disabled,
	.datepicker table tr td.active:hover:active, .datepicker table tr td.active:hover:hover,
	.datepicker table tr td.active:hover[disabled], .datepicker table tr td.active[disabled]
	{
	background-color: #04c
}

.datepicker table tr td.active.active, .datepicker table tr td.active.disabled.active,
	.datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover.active,
	.datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active:active,
	.datepicker table tr td.active:hover.active, .datepicker table tr td.active:hover:active
	{
	background-color: #039\9
}

.datepicker table tr td span {
	display: block;
	width: 23%;
	height: 54px;
	line-height: 54px;
	float: left;
	margin: 1%;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}

.datepicker table tr td span.focused, .datepicker table tr td span:hover
	{
	background: #eee
}

.datepicker table tr td span.disabled, .datepicker table tr td span.disabled:hover
	{
	background: 0 0;
	color: #999;
	cursor: default
}

.datepicker table tr td span.active, .datepicker table tr td span.active.disabled,
	.datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active:hover
	{
	background-color: #006dcc;
	background-image: -moz-linear-gradient(to bottom, #08c, #04c);
	background-image: -ms-linear-gradient(to bottom, #08c, #04c);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c),
		to(#04c));
	background-image: -webkit-linear-gradient(180deg, #08c, #04c);
	background-image: -o-linear-gradient(to bottom, #08c, #04c);
	background-image: linear-gradient(180deg, #08c, #04c);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#08c",
		endColorstr="#0044cc", GradientType=0);
	border-color: #04c #04c #002a80;
	border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .25)
}

.datepicker table tr td span.active.active, .datepicker table tr td span.active.disabled,
	.datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled.disabled,
	.datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover,
	.datepicker table tr td span.active.disabled:hover.active, .datepicker table tr td span.active.disabled:hover.disabled,
	.datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.disabled:hover:hover,
	.datepicker table tr td span.active.disabled:hover[disabled],
	.datepicker table tr td span.active.disabled[disabled], .datepicker table tr td span.active:active,
	.datepicker table tr td span.active:hover, .datepicker table tr td span.active:hover.active,
	.datepicker table tr td span.active:hover.disabled, .datepicker table tr td span.active:hover:active,
	.datepicker table tr td span.active:hover:hover, .datepicker table tr td span.active:hover[disabled],
	.datepicker table tr td span.active[disabled] {
	background-color: #04c
}

.datepicker table tr td span.active.active, .datepicker table tr td span.active.disabled.active,
	.datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover.active,
	.datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active:active,
	.datepicker table tr td span.active:hover.active, .datepicker table tr td span.active:hover:active
	{
	background-color: #039\9
}

.datepicker table tr td span.new, .datepicker table tr td span.old {
	color: #999
}

.datepicker .datepicker-switch {
	width: 145px
}

.datepicker .datepicker-switch, .datepicker .next, .datepicker .prev,
	.datepicker tfoot tr th {
	cursor: pointer
}

.datepicker .datepicker-switch:hover, .datepicker .next:hover,
	.datepicker .prev:hover, .datepicker tfoot tr th:hover {
	background: #eee
}

.datepicker .next.disabled, .datepicker .prev.disabled {
	visibility: hidden
}

.datepicker .cw {
	font-size: 10px;
	width: 12px;
	padding: 0 2px 0 5px;
	vertical-align: middle
}

.input-append.date .add-on, .input-prepend.date .add-on {
	cursor: pointer
}

.input-append.date .add-on i, .input-prepend.date .add-on i {
	margin-top: 3px
}

.input-daterange input {
	text-align: center
}

.input-daterange input:first-child {
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px
}

.input-daterange input:last-child {
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0
}

.input-daterange .add-on {
	display: inline-block;
	width: auto;
	min-width: 16px;
	height: 18px;
	padding: 4px 5px;
	font-weight: 400;
	line-height: 18px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	vertical-align: middle;
	background-color: #eee;
	border: 1px solid #ccc;
	margin-left: -5px;
	margin-right: -5px
} /*!
 * FullCalendar v3.10.2
 * Docs & License: https://fullcalendar.io/
 * (c) 2019 Adam Shaw
 */
.fc button, .fc table, body .fc {
	font-size: 1em
}

.fc-day-grid-event .fc-content, .fc-list-item-marker, .fc-list-item-time,
	.fc-time-grid-event.fc-short .fc-content, .fc-time-grid-event .fc-time,
	.fc .fc-axis, .fc button {
	white-space: nowrap
}

.fc-event, .fc-event:hover, .fc-state-hover, .fc.fc-bootstrap3 a,
	.ui-widget .fc-event, a.fc-more {
	text-decoration: none
}

.fc {
	direction: ltr;
	text-align: left
}

.fc-rtl {
	text-align: right
}

.fc-basic-view .fc-day-top .fc-week-number, .fc-basic-view td.fc-week-number,
	.fc-icon, .fc-toolbar, .fc th {
	text-align: center
}

.fc-highlight {
	background: #bce8f1;
	opacity: .3
}

.fc-bgevent {
	background: #8fdf82;
	opacity: .3
}

.fc-nonbusiness {
	background: #d7d7d7
}

.fc button {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	height: 2.1em;
	padding: 0 .6em;
	cursor: pointer
}

.fc button::-moz-focus-inner {
	margin: 0;
	padding: 0
}

.fc-state-default {
	border: 1px solid;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff),
		to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
	background-image: -o-linear-gradient(top, #fff, #e6e6e6);
	background-image: linear-gradient(180deg, #fff, #e6e6e6);
	background-repeat: repeat-x;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
	color: #333;
	text-shadow: 0 1px 1px hsla(0, 0%, 100%, .75);
	box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .2), 0 1px 2px
		rgba(0, 0, 0, .05)
}

.fc-state-default.fc-corner-left {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px
}

.fc-state-default.fc-corner-right {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px
}

.fc button .fc-icon {
	position: relative;
	top: -.05em;
	margin: 0 .2em;
	vertical-align: middle
}

.fc-state-active, .fc-state-disabled, .fc-state-down, .fc-state-hover {
	color: #333;
	background-color: #e6e6e6
}

.fc-state-hover {
	color: #333;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear
}

.fc-state-active, .fc-state-down {
	background-color: #ccc;
	background-image: none;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px
		rgba(0, 0, 0, .05)
}

.fc-state-disabled {
	cursor: default;
	background-image: none;
	opacity: .65;
	box-shadow: none
}

.fc-event.fc-draggable, .fc-event[href], .fc-popover .fc-header .fc-close,
	a[data-goto] {
	cursor: pointer
}

.fc-button-group {
	display: inline-block
}

.fc .fc-button-group>* {
	float: left;
	margin: 0 0 0 -1px
}

.fc .fc-button-group>:first-child {
	margin-left: 0
}

.fc-popover {
	position: absolute;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .15)
}

.fc-popover .fc-header {
	padding: 2px 4px
}

.fc-popover .fc-header .fc-title {
	margin: 0 2px
}

.fc-ltr .fc-popover .fc-header .fc-title, .fc-rtl .fc-popover .fc-header .fc-close
	{
	float: left
}

.fc-ltr .fc-popover .fc-header .fc-close, .fc-rtl .fc-popover .fc-header .fc-title
	{
	float: right
}

.fc-divider {
	border-style: solid;
	border-width: 1px
}

hr.fc-divider {
	height: 0;
	margin: 0;
	padding: 0 0 2px;
	border-width: 1px 0
}

.fc-bg table, .fc-row .fc-bgevent-skeleton table, .fc-row .fc-highlight-skeleton table
	{
	height: 100%
}

.fc-clear {
	clear: both
}

.fc-bg, .fc-bgevent-skeleton, .fc-helper-skeleton,
	.fc-highlight-skeleton {
	position: absolute;
	top: 0;
	left: 0;
	right: 0
}

.fc-bg {
	bottom: 0
}

.fc table {
	width: 100%;
	box-sizing: border-box;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0
}

.fc td, .fc th {
	border-style: solid;
	border-width: 1px;
	padding: 0;
	vertical-align: top
}

.fc td.fc-today {
	border-style: double
}

a[data-goto]:hover {
	text-decoration: underline
}

.fc .fc-row {
	border-style: solid;
	border-width: 0
}

.fc-row table {
	border-left: 0 hidden transparent;
	border-right: 0 hidden transparent;
	border-bottom: 0 hidden transparent
}

.fc-row:first-child table {
	border-top: 0 hidden transparent
}

.fc-row {
	position: relative
}

.fc-row .fc-bg {
	z-index: 1
}

.fc-row .fc-bgevent-skeleton, .fc-row .fc-highlight-skeleton {
	bottom: 0
}

.fc-row .fc-bgevent-skeleton td, .fc-row .fc-highlight-skeleton td {
	border-color: transparent
}

.fc-row .fc-bgevent-skeleton {
	z-index: 2
}

.fc-row .fc-highlight-skeleton {
	z-index: 3
}

.fc-row .fc-content-skeleton {
	position: relative;
	z-index: 4;
	padding-bottom: 2px
}

.fc-row .fc-helper-skeleton {
	z-index: 5
}

.fc .fc-row .fc-content-skeleton table, .fc .fc-row .fc-content-skeleton td,
	.fc .fc-row .fc-helper-skeleton td {
	background: 0 0;
	border-color: transparent
}

.fc-row .fc-content-skeleton td, .fc-row .fc-helper-skeleton td {
	border-bottom: 0
}

.fc-row .fc-content-skeleton tbody td, .fc-row .fc-helper-skeleton tbody td
	{
	border-top: 0
}

.fc-scroller {
	-webkit-overflow-scrolling: touch
}

.fc-day-grid-event .fc-content, .fc-icon, .fc-row.fc-rigid,
	.fc-time-grid-event {
	overflow: hidden
}

.fc-scroller>.fc-day-grid, .fc-scroller>.fc-time-grid {
	position: relative;
	width: 100%
}

.fc-event {
	position: relative;
	display: block;
	font-size: .85em;
	line-height: 1.3;
	border-radius: 3px;
	border: 1px solid #3a87ad
}

.fc-event, .fc-event-dot {
	background-color: #3a87ad
}

.fc-event, .fc-event:hover {
	color: #fff
}

.fc-not-allowed, .fc-not-allowed .fc-event {
	cursor: not-allowed
}

.fc-event .fc-bg {
	z-index: 1;
	background: #fff;
	opacity: .25
}

.fc-event .fc-content {
	position: relative;
	z-index: 2
}

.fc-event .fc-resizer {
	position: absolute;
	z-index: 4;
	display: none
}

.fc-event.fc-allow-mouse-resize .fc-resizer, .fc-event.fc-selected .fc-resizer
	{
	display: block
}

.fc-event.fc-selected .fc-resizer:before {
	content: "";
	position: absolute;
	z-index: 9999;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-left: -20px;
	margin-top: -20px
}

.fc-event.fc-selected {
	z-index: 9999 !important;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2)
}

.fc-event.fc-selected.fc-dragging {
	box-shadow: 0 2px 7px rgba(0, 0, 0, .3)
}

.fc-h-event.fc-selected:before {
	content: "";
	position: absolute;
	z-index: 3;
	top: -10px;
	bottom: -10px;
	left: 0;
	right: 0
}

.fc-ltr .fc-h-event.fc-not-start, .fc-rtl .fc-h-event.fc-not-end {
	margin-left: 0;
	border-left-width: 0;
	padding-left: 1px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0
}

.fc-ltr .fc-h-event.fc-not-end, .fc-rtl .fc-h-event.fc-not-start {
	margin-right: 0;
	border-right-width: 0;
	padding-right: 1px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0
}

.fc-ltr .fc-h-event .fc-start-resizer, .fc-rtl .fc-h-event .fc-end-resizer
	{
	cursor: w-resize;
	left: -1px
}

.fc-ltr .fc-h-event .fc-end-resizer, .fc-rtl .fc-h-event .fc-start-resizer
	{
	cursor: e-resize;
	right: -1px
}

.fc-h-event.fc-allow-mouse-resize .fc-resizer {
	width: 7px;
	top: -1px;
	bottom: -1px
}

.fc-h-event.fc-selected .fc-resizer {
	border-radius: 4px;
	border-width: 1px;
	width: 6px;
	height: 6px;
	border-style: solid;
	border-color: inherit;
	background: #fff;
	top: 50%;
	margin-top: -4px
}

.fc-ltr .fc-h-event.fc-selected .fc-start-resizer, .fc-rtl .fc-h-event.fc-selected .fc-end-resizer
	{
	margin-left: -4px
}

.fc-ltr .fc-h-event.fc-selected .fc-end-resizer, .fc-rtl .fc-h-event.fc-selected .fc-start-resizer
	{
	margin-right: -4px
}

.fc-day-grid-event {
	margin: 1px 2px 0;
	padding: 0 1px
}

tr:first-child>td>.fc-day-grid-event {
	margin-top: 2px
}

.fc-day-grid-event.fc-selected:after {
	content: "";
	position: absolute;
	z-index: 1;
	top: -1px;
	right: -1px;
	bottom: -1px;
	left: -1px;
	background: #000;
	opacity: .25
}

.fc-day-grid-event .fc-time {
	font-weight: 700
}

.fc-ltr .fc-day-grid-event.fc-allow-mouse-resize .fc-start-resizer,
	.fc-rtl .fc-day-grid-event.fc-allow-mouse-resize .fc-end-resizer {
	margin-left: -2px
}

.fc-ltr .fc-day-grid-event.fc-allow-mouse-resize .fc-end-resizer,
	.fc-rtl .fc-day-grid-event.fc-allow-mouse-resize .fc-start-resizer {
	margin-right: -2px
}

a.fc-more {
	margin: 1px 3px;
	font-size: .85em;
	cursor: pointer
}

a.fc-more:hover {
	text-decoration: underline
}

.fc-limited {
	display: none
}

.fc-day-grid .fc-row {
	z-index: 1
}

.fc-more-popover {
	z-index: 2;
	width: 220px
}

.fc-more-popover .fc-event-container {
	padding: 10px
}

.fc-bootstrap3 .fc-popover .panel-body, .fc-bootstrap4 .fc-popover .card-body
	{
	padding: 0
}

.fc-now-indicator {
	position: absolute;
	border: 0 solid red
}

.fc-bootstrap3 .fc-today.alert, .fc-bootstrap4 .fc-today.alert {
	border-radius: 0
}

.fc-unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent
}

.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td,
	.fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row,
	.fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead
	{
	border-color: #ddd
}

.fc-unthemed .fc-popover {
	background-color: #fff;
	border-width: 1px;
	border-style: solid
}

.fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-popover .fc-header
	{
	background: #eee
}

.fc-unthemed td.fc-today {
	background: #fcf8e3
}

.fc-unthemed .fc-disabled-day {
	background: #d7d7d7;
	opacity: .3
}

.fc-icon {
	display: inline-block;
	height: 1em;
	line-height: 1em;
	font-size: 1em;
	font-family: Courier New, Courier, monospace;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.fc-icon:after {
	position: relative
}

.fc-icon-left-single-arrow:after {
	content: "\2039";
	font-weight: 700;
	font-size: 200%;
	top: -7%
}

.fc-icon-right-single-arrow:after {
	content: "\203A";
	font-weight: 700;
	font-size: 200%;
	top: -7%
}

.fc-icon-left-double-arrow:after {
	content: "\AB";
	font-size: 160%;
	top: -7%
}

.fc-icon-right-double-arrow:after {
	content: "\BB";
	font-size: 160%;
	top: -7%
}

.fc-icon-left-triangle:after {
	content: "\25C4";
	font-size: 125%;
	top: 3%
}

.fc-icon-right-triangle:after {
	content: "\25BA";
	font-size: 125%;
	top: 3%
}

.fc-icon-down-triangle:after {
	content: "\25BC";
	font-size: 125%;
	top: 2%
}

.fc-icon-x:after {
	content: "\D7";
	font-size: 200%;
	top: 6%
}

.fc-unthemed .fc-popover .fc-header .fc-close {
	color: #666;
	font-size: .9em;
	margin-top: 2px
}

.fc-unthemed .fc-list-item:hover td {
	background-color: #f5f5f5
}

.ui-widget .fc-disabled-day {
	background-image: none
}

.fc-bootstrap3 .fc-time-grid .fc-slats table, .fc-bootstrap4 .fc-time-grid .fc-slats table,
	.fc-time-grid .fc-slats .ui-widget-content {
	background: 0 0
}

.fc-popover>.ui-widget-header+.ui-widget-content {
	border-top: 0
}

.fc-bootstrap3 hr.fc-divider, .fc-bootstrap4 hr.fc-divider {
	border-color: inherit
}

.ui-widget .fc-event {
	color: #fff;
	font-weight: 400
}

.ui-widget td.fc-axis {
	font-weight: 400
}

.fc.fc-bootstrap3 a[data-goto]:hover {
	text-decoration: underline
}

.fc.fc-bootstrap4 a {
	text-decoration: none
}

.fc.fc-bootstrap4 a[data-goto]:hover {
	text-decoration: underline
}

.fc-bootstrap4 a.fc-event:not ([href] ):not ([tabindex] ){
	color: #fff
}

.fc-bootstrap4 .fc-popover.card {
	position: absolute
}

.fc-toolbar.fc-header-toolbar {
	margin-bottom: 1em
}

.fc-toolbar.fc-footer-toolbar {
	margin-top: 1em
}

.fc-toolbar .fc-left {
	float: left
}

.fc-toolbar .fc-right {
	float: right
}

.fc-toolbar .fc-center {
	display: inline-block
}

.fc .fc-toolbar>*>* {
	float: left;
	margin-left: .75em
}

.fc .fc-toolbar>*>:first-child {
	margin-left: 0
}

.fc-toolbar h2 {
	margin: 0
}

.fc-toolbar button {
	position: relative
}

.fc-toolbar .fc-state-hover, .fc-toolbar .ui-state-hover {
	z-index: 2
}

.fc-toolbar .fc-state-down {
	z-index: 3
}

.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active {
	z-index: 4
}

.fc-toolbar button:focus {
	z-index: 5
}

.fc-view-container *, .fc-view-container :after, .fc-view-container :before
	{
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

.fc-view, .fc-view>table {
	position: relative;
	z-index: 1
}

.fc-basicDay-view .fc-content-skeleton, .fc-basicWeek-view .fc-content-skeleton
	{
	padding-bottom: 1em
}

.fc-basic-view .fc-body .fc-row {
	min-height: 4em
}

.fc-row.fc-rigid .fc-content-skeleton {
	position: absolute;
	top: 0;
	left: 0;
	right: 0
}

.fc-day-top.fc-other-month {
	opacity: .3
}

.fc-basic-view .fc-day-number, .fc-basic-view .fc-week-number {
	padding: 2px
}

.fc-basic-view th.fc-day-number, .fc-basic-view th.fc-week-number {
	padding: 0 2px
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
	float: right
}

.fc-rtl .fc-basic-view .fc-day-top .fc-day-number {
	float: left
}

.fc-ltr .fc-basic-view .fc-day-top .fc-week-number {
	float: left;
	border-radius: 0 0 3px
}

.fc-rtl .fc-basic-view .fc-day-top .fc-week-number {
	float: right;
	border-radius: 0 0 0 3px
}

.fc-basic-view .fc-day-top .fc-week-number {
	min-width: 1.5em;
	background-color: #f2f2f2;
	color: grey
}

.fc-basic-view td.fc-week-number>* {
	display: inline-block;
	min-width: 1.25em
}

.fc-agenda-view .fc-day-grid {
	position: relative;
	z-index: 2
}

.fc-agenda-view .fc-day-grid .fc-row {
	min-height: 3em
}

.fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton {
	padding-bottom: 1em
}

.fc .fc-axis {
	vertical-align: middle;
	padding: 0 4px
}

.fc-ltr .fc-axis {
	text-align: right
}

.fc-rtl .fc-axis {
	text-align: left
}

.fc-time-grid, .fc-time-grid-container {
	position: relative;
	z-index: 1
}

.fc-time-grid {
	min-height: 100%
}

.fc-time-grid table {
	border: 0 hidden transparent
}

.fc-time-grid>.fc-bg {
	z-index: 1
}

.fc-time-grid .fc-slats, .fc-time-grid>hr {
	position: relative;
	z-index: 2
}

.fc-time-grid .fc-content-col {
	position: relative
}

.fc-time-grid .fc-content-skeleton {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	right: 0
}

.fc-time-grid .fc-business-container {
	position: relative;
	z-index: 1
}

.fc-time-grid .fc-bgevent-container {
	position: relative;
	z-index: 2
}

.fc-time-grid .fc-highlight-container {
	z-index: 3;
	position: relative
}

.fc-time-grid .fc-event-container {
	position: relative;
	z-index: 4
}

.fc-time-grid .fc-now-indicator-line {
	z-index: 5
}

.fc-time-grid .fc-helper-container {
	position: relative;
	z-index: 6
}

.fc-time-grid .fc-slats td {
	height: 1.5em;
	border-bottom: 0
}

.fc-time-grid .fc-slats .fc-minor td {
	border-top-style: dotted
}

.fc-time-grid .fc-highlight {
	position: absolute;
	left: 0;
	right: 0
}

.fc-ltr .fc-time-grid .fc-event-container {
	margin: 0 2.5% 0 2px
}

.fc-rtl .fc-time-grid .fc-event-container {
	margin: 0 2px 0 2.5%
}

.fc-time-grid .fc-bgevent, .fc-time-grid .fc-event {
	position: absolute;
	z-index: 1
}

.fc-time-grid .fc-bgevent {
	left: 0;
	right: 0
}

.fc-v-event.fc-not-start {
	border-top-width: 0;
	padding-top: 1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0
}

.fc-v-event.fc-not-end {
	border-bottom-width: 0;
	padding-bottom: 1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0
}

.fc-time-grid-event.fc-selected {
	overflow: visible
}

.fc-time-grid-event.fc-selected .fc-bg {
	display: none
}

.fc-time-grid-event .fc-content {
	overflow: hidden
}

.fc-time-grid-event .fc-time, .fc-time-grid-event .fc-title {
	padding: 0 1px
}

.fc-time-grid-event .fc-time {
	font-size: .85em
}

.fc-time-grid-event.fc-short .fc-time, .fc-time-grid-event.fc-short .fc-title
	{
	display: inline-block;
	vertical-align: top
}

.fc-time-grid-event.fc-short .fc-time span {
	display: none
}

.fc-time-grid-event.fc-short .fc-time:before {
	content: attr(data-start)
}

.fc-time-grid-event.fc-short .fc-time:after {
	content: "\A0-\A0"
}

.fc-time-grid-event.fc-short .fc-title {
	font-size: .85em;
	padding: 0
}

.fc-time-grid-event.fc-allow-mouse-resize .fc-resizer {
	left: 0;
	right: 0;
	bottom: 0;
	height: 8px;
	overflow: hidden;
	line-height: 8px;
	font-size: 11px;
	font-family: monospace;
	text-align: center;
	cursor: s-resize
}

.fc-time-grid-event.fc-allow-mouse-resize .fc-resizer:after {
	content: "="
}

.fc-time-grid-event.fc-selected .fc-resizer {
	border-radius: 5px;
	border-width: 1px;
	width: 8px;
	height: 8px;
	border-style: solid;
	border-color: inherit;
	background: #fff;
	left: 50%;
	margin-left: -5px;
	bottom: -5px
}

.fc-time-grid .fc-now-indicator-line {
	border-top-width: 1px;
	left: 0;
	right: 0
}

.fc-time-grid .fc-now-indicator-arrow {
	margin-top: -5px
}

.fc-ltr .fc-time-grid .fc-now-indicator-arrow {
	left: 0;
	border-width: 5px 0 5px 6px;
	border-top-color: transparent;
	border-bottom-color: transparent
}

.fc-rtl .fc-time-grid .fc-now-indicator-arrow {
	right: 0;
	border-width: 5px 6px 5px 0;
	border-top-color: transparent;
	border-bottom-color: transparent
}

.fc-event-dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 5px
}

.fc-rtl .fc-list-view {
	direction: rtl
}

.fc-list-view {
	border-width: 1px;
	border-style: solid
}

.fc .fc-list-table {
	table-layout: auto
}

.fc-list-table td {
	border-width: 1px 0 0;
	padding: 8px 14px
}

.fc-list-table tr:first-child td {
	border-top-width: 0
}

.fc-list-heading {
	border-bottom-width: 1px
}

.fc-list-heading td {
	font-weight: 700
}

.fc-ltr .fc-list-heading-main {
	float: left
}

.fc-ltr .fc-list-heading-alt, .fc-rtl .fc-list-heading-main {
	float: right
}

.fc-rtl .fc-list-heading-alt {
	float: left
}

.fc-list-item.fc-has-url {
	cursor: pointer
}

.fc-list-item-marker, .fc-list-item-time {
	width: 1px
}

.fc-ltr .fc-list-item-marker {
	padding-right: 0
}

.fc-rtl .fc-list-item-marker {
	padding-left: 0
}

.fc-list-item-title a {
	text-decoration: none;
	color: inherit
}

.fc-list-item-title a[href]:hover {
	text-decoration: underline
}

.fc-list-empty-wrap2 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0
}

.fc-list-empty-wrap1 {
	width: 100%;
	height: 100%;
	display: table
}

.fc-list-empty {
	display: table-cell;
	vertical-align: middle;
	text-align: center
}

.fc-unthemed .fc-list-empty {
	background-color: #eee
}