<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-header},
                                                ~{:: #home-nav},
                                                ~{:: .main-content},
                                                ~{:: #home-footer},
                                                ~{:: #js-static-resources}
                                               )}">

<head>
    <title>GAMEO ORDER | Add Brand </title>

    <th:block id="home-static-resources" th:replace="~{fragments/app-fragments :: link}">
        insert css
    </th:block>

</head>
<body>

<div id="home-nav" th:replace="~{fragments/navigation :: side-nav}">
    Home Nav
</div>

<div id="home-header" th:replace="~{fragments/app-fragments :: home-head}">
    Header of Home Page
</div>

<main class="main-content bgc-grey-100">
    <div id="mainContent">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="bgc-white bd bdrs-3 p-20 mB-20">
                        <h4 class="c-grey-900 mB-20">Thêm Danh Mục</h4>
                        <div class="mT-30">
                            <form th:object="${category}" th:action="@{savecategory}" action="#" method="post">
<!--                            <form method="POST" class="register-form" id="register-form"-->
<!--                                  enctype="multipart/form-data">-->
                                <div class="form-group">
                                    <label th:text="brandName" th:for="brandName"></label>
                                    <select name="selectedbrand" class="form-control custom-select">

                                            <option th:each="brd : ${brands}" th:text="${brd.brandName}" th:value="${brd.brandId}">
                                            </option>
                                    </select>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">

                                        <label th:text="categoryName" th:for="categoryName"></label>
                                        <input type="text" th:field="*{categoryName}" class="form-control" placeholder="Input Category Name"/>
<!--                                        <input type="text" class="form-control"-->
<!--                                               placeholder="Input Brand Name" id="inputBrandName"-->
<!--                                               name="inputBrandName">-->
                                    </div>
                                    <div class="form-group col-md-6">

                                        <label th:text="categoryDesc" th:for="categoryDesc"></label>
                                        <input type="text" th:field="*{categoryDesc}" class="form-control" placeholder="Input Category Desc"/>
                                        <!--                                        <input type="text" class="form-control"-->
                                        <!--                                               placeholder="Input Brand Name" id="inputBrandName"-->
                                        <!--                                               name="inputBrandName">-->
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">

                                        <label th:text="insertDate" th:for="insertDate"></label>
                                        <input type="text" th:field="*{insertDate}" class="form-control" placeholder="Input Category Name"/>
                                        <!--                                        <input type="text" class="form-control"-->
                                        <!--                                               placeholder="Input Brand Name" id="inputBrandName"-->
                                        <!--                                               name="inputBrandName">-->
                                    </div>
                                    <div class="form-group col-md-6">

                                        <label th:text="modifiedDate" th:for="modifiedDate"></label>
                                        <input type="text" th:field="*{modifiedDate}" class="form-control" placeholder="Input Category Desc"/>
                                        <!--                                        <input type="text" class="form-control"-->
                                        <!--                                               placeholder="Input Brand Name" id="inputBrandName"-->
                                        <!--                                               name="inputBrandName">-->
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">SAVE</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div id="home-footer" th:replace="~{fragments/app-fragments :: copyright}">
    Footer
</div>

<th:block id="js-static-resources" th:replace="~{fragments/app-fragments :: script}">
    insert css
</th:block>

</body>
</html>