<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-header},
                                                ~{:: #home-nav},
                                                ~{:: .main-content},
                                                ~{:: #home-footer},
                                                ~{:: #js-static-resources}
                                               )}">

<head>
    <title>GAMEO ORDER | Brand </title>

    <th:block id="home-static-resources" th:replace="~{fragments/app-fragments :: link}">
        insert css
    </th:block>

</head>
<body>

<div id="home-nav" th:replace="~{fragments/navigation :: side-nav}">
    Home Nav
</div>

<div id="home-header" th:replace="~{fragments/app-fragments :: home-head}">
    Header of Home Page
</div>


<main class="main-content bgc-grey-100">
    <div id="mainContent">
        <div class="container-fluid">
            <h4 class="c-grey-900 mB-20">Danh Sách Mặt Hàng</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="bgc-white bd bdrs-3 p-20 mB-20">
                        <div class="alert alert-light" role="alert">
                        <a th:href="@{/addcategory}">
                            <button type="button" class="btn cur-p btn-outline-primary">
                                Thêm Mới
                            </button>
                        </a>
                        <button type="button" class="btn cur-p btn-outline-primary">
                            <form th:object="${uploadForm}" th:action="@{importcategory}" action="#" method="post"
                                  enctype="multipart/form-data">
                                <input th:field="*{fileDatas}" type="file"/>
                                <input type="submit" value="Upload">
                            </form>
                        </button>
                        </div>
                        <!-- /login?error=true -->
                        <div class="alert alert-success" role="alert" th:each="file : ${transactions}"
                             th:if="${file != null}" th:utext="${file}">
                        </div>

                        <div class="alert alert-danger" role="alert" th:each="file : ${errors}"
                             th:if="${file != null}" th:utext="${file}">
                        </div>

                        <div class="mT-30">
                            <table id="dataTables"
                                   class="display table table-striped table-bordered"
                                   cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th th:align="center">STT</th>
                                    <th th:align="center">Nhãn Hàng</th>
                                    <th th:align="center">Mặt Hàng</th>
                                    <th th:align="center">Ngày Tạo</th>
                                    <th th:align="center">Ngày Sửa</th>
                                    <th th:align="center"></th>
                                    <th th:align="center"></th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th th:align="center">STT</th>
                                    <th th:align="center">Nhãn Hàng</th>
                                    <th th:align="center">Mặt Hàng</th>
                                    <th th:align="center">Ngày Tạo</th>
                                    <th th:align="center">Ngày Sửa</th>
                                    <th th:align="center"></th>
                                    <th th:align="center"></th>
                                </tr>
                                </tfoot>
                                <tbody>

                                <tr th:each="ctg : ${category}">
                                    <td style="text-align: center" th:utext="${ctg.categoryId}"></td>
                                    <td  th:utext="${ctg.brand.brandName}"></td>
                                    <td  th:utext="${ctg.categoryName}"></td>
                                    <!--                                        ${#dates.format(standardDate, 'dd-MM-yyyy HH:mm')}-->
                                    <td style="text-align: center" th:utext="${#temporals.format(ctg.insertDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
                                    <td style="text-align: center" th:utext="${#temporals.format(ctg.modifiedDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
                                    <td style="text-align: center">
                                        <a th:href="@{/editcategory?id={id}(id=${ctg.categoryId})}" class="btn btn-primary">Sửa</a>
                                    </td>
                                    <td style="text-align: center">
                                        <a th:href="@{/deletecategory?id={id}(id=${ctg.categoryId})}" class="btn btn-danger">Xóa</a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div id="home-footer" th:replace="~{fragments/app-fragments :: copyright}">
    Footer
</div>
<th:block id="js-static-resources" th:replace="~{fragments/app-fragments :: script}">
    insert css
</th:block>
</body>
</html>