<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en-us">
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" th:href="@{/gameo.ico}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/signin.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/btn.dataTables.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/jQuerryDataTable.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/bst-datepicker.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/bootstrap-4.min.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/custom.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/style.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/toastr.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/index.css}"/>
</head>
<body class="app">
<div id='loader'>
    <div class="spinner"></div>
</div>

<script>
    window.addEventListener('load', function load() {
        const loader = document.getElementById('loader');
        setTimeout(function() {
            loader.classList.add('fadeOut');
        }, 300);
    });
</script>

<div class="peers ai-s fxw-nw h-100vh">
    <div class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv" style=''>
        <div class="pos-a centerXY">
            <div class="bgc-white bdrs-50p pos-r" style='width: 120px; height: 120px;'>
                <img class="pos-a centerXY" th:src="@{/images/1905-01.jpg}" alt="">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 peer pX-40 pY-80 h-100 bgc-white scrollable pos-r" style='min-width: 320px;'>
        <h4 class="fw-300 c-grey-900 mB-40">Login</h4>
        <form name='f' th:action="@{/j_spring_security_check}" method='POST'>
            <div class="form-group">
                <label class="text-normal text-dark">Username</label>
                <input type="text" name="username" class="form-control" placeholder="John Doe">
            </div>
            <div class="form-group">
                <label class="text-normal text-dark">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
                <div class="peers ai-c jc-sb fxw-nw">
                    <div class="peer">
                        <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                            <input type="checkbox" id="inputCall1" name="remember-me" class="peer">
                            <label for="inputCall1" class=" peers peer-greed js-sb ai-c">
                                <span class="peer peer-greed">Remember Me</span>
                            </label>
                        </div>
                    </div>

                    <div class="peer">
                        <button name="submit" type="submit" value="submit" class="btn btn-primary">Login</button>
                    </div>
                </div>
            </div>

            <!-- /login?error=true -->
            <div class="peer form-group" th:if="${#request.getParameter('error') == 'true'}"
                 style="color:red;margin:10px 0px;">

                            <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
                                  th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
                            <div th:replace="fragments/app-fragments :: alert (type='danger', message=${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message})">...</div>
         </span>

            </div>
        </form>
    </div>
</div>
</body>
</html>
