<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>GaMeo Comestics</title>

    <!-- Template CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="stylesheet" th:href="@{/css/fonts.css}">
    <link rel="stylesheet" th:href="@{/css/datatables/semantic.min.css}">
    <link rel="stylesheet" th:href="@{/css/datatables/dataTables.semanticui.min.css}">

    <link rel="stylesheet" th:href="@{/css/datatables/jQuerryDataTable.css}">
    <link rel="stylesheet" th:href="@{/css/datatables/btn.dataTables.min.css}">

    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}">

    <link href="//fonts.googleapis.com/css?family=Oswald:300,400,500,600&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900&display=swap" rel="stylesheet">
    <!-- Template CSS -->

</head>
<body>

<script th:src="@{/js/jquery-3.5.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{/js/datatables/jszip.min.js}"></script>
<script th:src="@{/js/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/datatables/dataTables.buttons.min.js}"></script>
<script th:src="@{/js/datatables/buttons.html5.min.js}"></script>

<script th:src="@{/js/datatables/dataTables.semanticui.min.js}"></script>
<script th:src="@{/js/datatables/semantic.min.js}"></script>
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->

<script th:src="@{/js/app.js}"></script>

<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog"
     th:aria-labelledby="${id + 'Label'}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:id="${id + 'Label'}">SHOP 1905 AUTHENTIC SPORTS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>