<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="gameo-fragment (title, cssFile,mainContent, jsFile,modalCreate,modalUpdate,modalDelete,modalImport)">
<head>
    <title th:replace="${title}">GaMeo Comestics</title>
    <meta charset="UTF-8">
    <meta name="description" content="GaMeo Comestics">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Other javascript, css source files -->
    <th:block th:replace="${cssFile} ?: ~{}"></th:block>

</head>
<body>

<!--w3l-banner-slider-main-->
<section class="w3l-banner-slider-main inner-pagehny">
    <div class="top-header-content">
        <header class="tophny-header">
            <!--/nav-->
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid serarc-fluid">
                            <a class="navbar-brand" th:href="@{/}">
                                <img th:src="@{/images/1905-01.jpg}" alt="Your logo" title="Your logo" style="width:150px;" />
                            </a>
                    <!--/search-right-->

                    <!--//search-right-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon fa fa-bars"> </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item btn active"> <a class="nav-link" href="#">Trang Chủ</a> </li>
                            <li class="nav-item btn dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarBrand" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Nhãn Hàng
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarBrand">

                                    <a class="dropdown-item" th:href="@{/brandlist}">Quản Lý</a>

                                </div>
                            </li>
                            <li class="nav-item btn dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarCategory" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Nhóm Sản Phẩm
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarCategory">

                                    <a class="dropdown-item" th:href="@{/categorylist}">Quản Lý</a>

                                </div>
                            </li>
                            <li class="nav-item btn dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarProduct" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sản Phẩm
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarProduct">

                                    <a class="dropdown-item" th:href="@{/productlist}">Quản Lý</a>
                                </div>
                            </li>
                            <li class="nav-item btn dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarInventory" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Kho Hàng
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarInventory">

                                    <a class="dropdown-item" th:href="@{/}">Quản Lý</a>

                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="top-right-strip row">
                        <ul class="navbar-nav">
                            <li class="nav-item btn dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarUsers" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Welcome,<span class="title" th:utext="${#request.userPrincipal.name}"></span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarUsers">
                                    <a class="dropdown-item" th:href="@{/logout}">Log Out</a>
                                </div>
                            </li>
                        </ul>
                        <!--/right-->
                        <!--//right-->
                    </div>
                </div>
            </nav>
            <!--//nav-->
        </header>

    </div>
</section>

<main th:replace="${mainContent} ?: ~{}">

</main>

<section class="w3l-footer-22">
    <!-- footer-22 -->
    <div class="footer-hny py-5">
        <div class="container py-lg-5">
            <div class="below-section row">

                <div class="columns col-lg-6 text-lg-right">
                    <p>© 2021 GaMeo Cosmetic. All rights reserved. Design by Msti
                    </p>
                </div>
                <button onclick="topFunction()" id="movetop" title="Go to top">
                    <span class="fa fa-angle-double-up"></span>
                </button>
            </div>
        </div>
    </div>
    <!-- //titels-5 -->
    <!-- move top -->

    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- /move top -->
</section>

<th:block th:replace="${jsFile} ?: ~{}"></th:block>
<th:block th:replace="${modalCreate} ?: ~{}"></th:block>
<th:block th:replace="${modalUpdate} ?: ~{}"></th:block>
<th:block th:replace="${modalDelete} ?: ~{}"></th:block>
<th:block th:replace="${modalImport} ?: ~{}"></th:block>
</body>
</html>